@import "bourbon";
@import "susy";
@import _map.scss


// shorthand
$desktop: 12 (70px 30px) split
$pad: 6 (70px 30px) split

$w_desktop: 12 split
$w_pad: 6 split

$breakpoint_desktop: 891px
$breakpoint_pad: 0 890px


$susy: (debug: (image: hide))

.bread_crumbs
	+susy-breakpoint($breakpoint_pad, $pad)
		+container


	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		position: fixed
		right: 30px
		top: 110px
		.link_navigator
			color: #555
			height: 20px
			font-size: 14px
			text-align: right
			line-height: 1.4
			margin-bottom: 10px
			cursor: pointer





.main_image
	+susy-breakpoint($breakpoint_pad, $pad)
		+container


	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		.cool_earth
			height: 700px
			background: url('../img/mianimage.png') center
			background-size: 100%
			background-repeat: no-repeat




.w-wrapper
	width: 100%
	background: #e4f3f5
.core_tech
	+susy-breakpoint($breakpoint_pad, $pad)
		+container


	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		padding: 0 20px
		.section_title
			+span(12)
			height: 50px
			margin-top: 140px
			margin-bottom: 110px
			color: #17317c
			font-size: 40px
			text-align: center
			font-weight: 200
		.core_tech_contain
			+span(4)
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			// background: #289
			img
				margin-bottom: 80px
			.core_descrition
				background: #FFF
				padding: 50px 30px
				height: auto
				h5
					font-size: 25px
					margin-bottom: 20px
					line-height: 1.3

				h6
					font-size: 17px
					margin-bottom: 10px
					line-height: 1.3

				p
					font-size: 14px
					line-height: 1.8

.product_service
	+susy-breakpoint($breakpoint_pad, $pad)
		+container


	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		padding: 0 20px
		.section_title
			+span(12)
			height: 50px
			margin-top: 140px
			margin-bottom: 60px
			color: #17317c
			font-size: 40px
			text-align: center
		.tab_switch
			+span(12)
			height: 50px
			display: flex
			align-items: center
			justify-content: center
			// background-color: #290
			margin-bottom: 100px
			.tab_button
				font-size: 20px
				color: #888
				margin-left: 30px
				margin-right: 30px
				cursor: pointer

		.product_service_contnet
			+span(4)
			padding: 0 10px
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			margin-bottom: 100px
			img
				margin-bottom: 80px
			.product_descrition
				h6
					font-size: 30px
					margin-bottom: 15px
					line-height: 1.3
					text-align: center


				p
					font-size: 14px
					line-height: 1.8
					text-align: center


.active
	color: #17317c !important


.blue_t
	color: #00a3e4
	margin-top: 20px





.succuess
	+susy-breakpoint($breakpoint_pad, $pad)
		+container


	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		padding: 0 20px
		margin-bottom: 150px
		.section_title
			+span(12)
			height: 50px
			margin-top: 140px
			margin-bottom: 60px
			color: #17317c
			font-size: 40px
			text-align: center
		.success_logo
			+span(3)
			padding: 0 10px
			margin-bottom: 40px
			img
				width: 100%


















