
@import _map.scss
@import "bourbon";
@import "susy";

// shorthand
$desktop: 12 (80px 20px) split
$pad: 8 (90px 20px) split
$mobile: 6 (90px 15px) split

$desktop_show: 12 (103px 0px) split
$pad_show: 8 (90px 20px) split
$mobile_show: 6 (90px 15px) split

$w_desktop: 12 split
$w_pad: 8 split
$w_mobile: 6 split

$breakpoint_desktop: 979px
$breakpoint_pad: 767px
$breakpoint_mobile: 0px

$susy: (debug: (image: hide))



.bread_crumbs
	+susy-breakpoint($breakpoint_mobile, $mobile)
		+container


	+susy-breakpoint($breakpoint_pad, $pad)
		+container


	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		padding-left: 20px
		font-size: 14px
		margin-bottom: 70px
		width: 100%
		// background: #eee
		.bread_crumbs_div
			width: 50%
			display: flex
			flex-direction: row
			justify-content: flex-start
			align-items: center
			a
				color: #888
				margin: 0 10px
				font-size: 14px
			p
				color: #222
				margin: 0 10px
				font-size: 14px


.fb
	background-color: #c0c0c0
	transition: all .3s
	&:hover
		background: #4E598F
.google
	background-color: #c0c0c0
	transition: all .3s
	&:hover
		background: #CF4C3C
.line
	background-color: #c0c0c0
	transition: all .3s
	&:hover
		background: #6DBF2D
.twitter
	background-color: #c0c0c0
	transition: all .3s
	&:hover
		background: #65A2D9
.mail
	background-color: #c0c0c0
	transition: all .3s
	&:hover
		background: #00466E
.download
	background-color: #c0c0c0
	transition: all .3sd
	&:hover
		background: #32b396
.print
	background-color: #c0c0c0
	transition: all .3s
	&:hover
		background: #FE6601
.font_zoom
	background-color: #c0c0c0
	transition: all .3som
	&:hover
		background: #F5A623

.icons
	width: 100%
	// background: #290
	display: flex
	flex-direction: row
	justify-content: flex-end
	align-items: center
	.social_media, .function, .font
		margin-left: 20px
		display: flex
		flex-direction: row
		justify-content: flex-end
		align-items: center
		.i_icon
			width: 30px
			height: 30px
			margin-right: 10px
			color: #FFF
			border-radius:  50%
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center
			cursor: pointer
			i
				font-size: 18px



.page_w
	+susy-breakpoint($breakpoint_mobile, $mobile)
		+container


	+susy-breakpoint($breakpoint_pad, $pad)
		+container


	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		padding: 0 20px
		.page_tab
			+span(3)
			margin-bottom: 50px
		.page_contnet
			+span(9)
			margin-bottom: 50px







.aside_menu
	+susy-breakpoint($breakpoint_mobile, $mobile)
		+container

	+susy-breakpoint($breakpoint_pad, $pad)
		+container

	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		margin-bottom: 50px
		ul
			li
				a
					display: block
					color: #888
					padding: 10px 0
					transition: all .2s
					i
						margin-right: 5px
					&:hover
						color: #222



.notice_list
	+susy-breakpoint($breakpoint_mobile, $mobile)
		+container

	+susy-breakpoint($breakpoint_pad, $pad)
		+container

	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		.list_l
			display: flex
			flex-direction: row
			justify-content: flex-start
			align-items: flex-start
			margin-bottom: 14px
			padding-bottom: 14px
			border-bottom: 1px solid #eee
			transition: all .2s
			.a-date
				margin-right: 40px
				font-size: 16px
				color: #222
				transition: all .2s
			.a-des
				font-size: 16px
				color: #888
				transition: all .2s
			&:hover
				.a-des
					color: #555


.press_detail
	+susy-breakpoint($breakpoint_mobile, $mobile)
		+container

	+susy-breakpoint($breakpoint_pad, $pad)
		+container

	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		margin-bottom: 50px
		.goback
			font-size: 14px
			margin-bottom: 20px
			border-bottom: 1px solid #eee
			padding-bottom: 10px

			padding-bottom: 10px
		.t-title
			margin-bottom: 50px
			font-size: 30px
			color: #165779
			margin-bottom: 10px
		.t_date
			margin-bottom: 40px
			p
				font-size: 13px
				color: #888

		.press_content
			margin-bottom: 40px
			.frame
				border: 1px solid #01AECC
				padding: 5px 10px
				color: #01AECC
				width: 100px
				text-align: center

			.text-content
				margin-bottom: 30px
			h6
				font-size: 18px
				color: #222
				margin-top: 20px
				margin-bottom: 5px
			p
				font-size: 14px
				margin-bottom: 5px
			.photos
				display: flex
				flex-direction: row
				justify-content: flex-start
				align-items: center
				img
					margin-right: 20px
					border: 1px solid #eee
					margin-bottom: 30px

		.related_link, .file_download
			padding: 10px
			margin-top: 15px
			margin-bottom: 10px
			color: #888
			font-size: 14px
			border: 1px solid #eee


.tender_detail
	+susy-breakpoint($breakpoint_mobile, $mobile)
		+container

	+susy-breakpoint($breakpoint_pad, $pad)
		+container

	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		margin-bottom: 50px
		.goback
			font-size: 14px
			margin-bottom: 20px
			border-bottom: 1px solid #eee
			padding-bottom: 10px
		.t-title
			margin-bottom: 50px
			font-size: 26px
			color: #165779
			margin-bottom: 10px
		.t_date
			margin-bottom: 20px
			p
				font-size: 12px
				color: #888
		.tender_content
			margin-bottom: 40px
			.photos
				display: flex
				flex-direction: row
				justify-content: flex-start
				align-items: center
				img
					width: 200px
					margin-right: 20px
					border: 1px solid #eee
					margin-bottom: 30px

			p
				font-size: 14px
				margin-bottom: 5px
		.related_link, .file_download
			padding: 10px
			margin-top: 15px
			margin-bottom: 10px
			color: #888
			font-size: 14px
			border: 1px solid #eee








.news_list
	+susy-breakpoint($breakpoint_mobile, $mobile)
		+container

	+susy-breakpoint($breakpoint_pad, $pad)
		+container

	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		.n-list
			display: flex
			flex-direction: row
			justify-content: flex-start
			align-items: flex-start
			margin-bottom: 14px
			padding-bottom: 14px
			border-bottom: 1px solid #eee
			transition: all .2s
			.n-des
				width: 50%
				font-size: 16px
				color: #888
				margin-right: 20px
				transition: all .2s

			.n-location
				width: 25%
				margin-right: 40px
				font-size: 16px
				color: #888
				transition: all .2s
			.n-period
				width: 25%
				p
					font-size: 12px
					color: #888
			&:hover
				.n-des, .n-location, .n-period
					color: #222


.news_detail
	+susy-breakpoint($breakpoint_mobile, $mobile)
		+container

	+susy-breakpoint($breakpoint_pad, $pad)
		+container

	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		margin-bottom: 50px
		.goback
			font-size: 14px
			margin-bottom: 20px
			border-bottom: 1px solid #eee
			padding-bottom: 10px
		.t-title
			margin-bottom: 50px
			font-size: 26px
			color: #165779
			margin-bottom: 10px
		.t_date
			margin-bottom: 40px
			// border: 1px solid #eee
			border-left: 8px solid #eee
			padding: 0 10px
			p
				font-size: 12px
				color: #555
				line-height: 1.6
		.news_content
			margin-bottom: 40px
			p
				font-size: 14px
				margin-bottom: 5px
		.related_link, .file_download
			padding: 10px
			margin-top: 15px
			margin-bottom: 10px
			color: #888
			font-size: 14px
			border: 1px solid #eee




.visit_detail
	+susy-breakpoint($breakpoint_mobile, $mobile)
		+container

	+susy-breakpoint($breakpoint_pad, $pad)
		+container

	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		margin-bottom: 50px
		.goback
			font-size: 14px
			margin-bottom: 20px
			border-bottom: 1px solid #eee
			padding-bottom: 10px
		.t-title
			margin-bottom: 50px
			font-size: 26px
			color: #165779
			margin-bottom: 10px
		.t_date
			margin-bottom: 40px
			// border: 1px solid #eee
			border-left: 8px solid #eee
			padding: 0 10px
			p
				font-size: 12px
				color: #555
				line-height: 1.6
		.news_content
			margin-bottom: 40px
			p
				font-size: 14px
				margin-bottom: 5px
		.related_link, .file_download
			padding: 10px
			margin-top: 15px
			margin-bottom: 10px
			color: #888
			font-size: 14px
			border: 1px solid #eee













.contact_us
	+susy-breakpoint($breakpoint_mobile, $mobile)
		+container

	+susy-breakpoint($breakpoint_pad, $pad)
		+container

	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		margin-bottom: 50px
		.goback
			font-size: 14px
			margin-bottom: 20px
			border-bottom: 1px solid #eee
			padding-bottom: 10px
		.t-title
			margin-bottom: 50px
			font-size: 26px
			color: #165779
			padding-bottom: 10px
			margin-bottom: 30px
			border-bottom: 2px solid #ededed

		.input_div
			display: flex
			flex-direction: row
			justify-content: flex-start
			align-items: center
			margin-bottom: 20px
			padding-bottom: 10px
			.verification
				margin-right: 10px
				display: flex
				flex-direction: row
				justify-content: flex-start
				input[type="text"]
					width: 150px
					height: 40px
					margin-right: 10px
					padding: 0 10px
				img
					display: block
					margin-right: 10px
				a
					display: block
					height: 40px
					font-size: 25px
					color: #888

			.gender
				display: flex
				flex-direction: row
				justify-content: flex-start
				align-items: center
				margin-right: 35px
				input[type="radio"]
					margin-right: 5px
			p
				margin-right: 10px
				width: 100px
				font-size: 14px

			input[type="text"]
				width: 70%
				border: 1px solid #c0c0c0
				height: 40px
				padding: 0 10px

			textarea
				width: 70%
				border: 1px solid #c0c0c0
				height: 250px
				padding: 10px


		.confirm_btn
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center
			margin-top: 40px
			.cancel
				display: block
				margin: 0 20px
				width: 150px
				height: 40px
				font-weight: 600
				display: flex
				flex-direction: row
				justify-content: center
				align-items: center
				color: #FFF
				background: #01AECC
			.submit
				display: block
				margin: 0 20px
				width: 150px
				height: 40px
				font-weight: 600
				display: flex
				flex-direction: row
				justify-content: center
				align-items: center
				color: #FFF
				background: #01AECC






.search_list
	+susy-breakpoint($breakpoint_mobile, $mobile)
		+container

	+susy-breakpoint($breakpoint_pad, $pad)
		+container

	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		padding: 0 20px
		margin-bottom: 50px
		.s-list
			display: flex
			flex-direction: row
			justify-content: flex-start
			align-items: flex-start
			margin-bottom: 14px
			padding-bottom: 14px
			border-bottom: 1px solid #eee
			transition: all .2s
			.s-classify
				width: 15%
				margin-right: 40px
				font-size: 16px
				color: #017285
				transition: all .2s
			.s-des
				width: 60%
				font-size: 16px
				color: #888
				margin-right: 20px
				transition: all .2s

			.s-period
				width: 25%
				p
					font-size: 14px
					color: #888
			&:hover
				.s-des, .s-classfy, .s-period
					color: #222






.onpage
	display: block
	color: #14AFCD
	padding: 10px 0
	i
		margin-right: 5px

.pages
	+susy-breakpoint($breakpoint_mobile, $mobile)
		+container
		width: 100%
		margin-top: 10px
		margin-bottom: 40px
		display: flex
		justify-content: center
		align-items: center
		margin-top: 40px
		a
			display: block
			width: 30px
			height: 30px
			border: 1px solid #eee
			font-size: 14px
			margin: 0 5px
			color: #888
			display: flex
			justify-content: center
			align-items: center
			transition: all .3s
			&:hover
				border: 1px solid #eee
				background: #017285
				color: #FFF
	+susy-breakpoint($breakpoint_pad, $pad)
		+container
		width: 100%
		margin-top: 10px
		margin-bottom: 40px
		display: flex
		justify-content: center
		align-items: center
		margin-top: 40px
		a
			display: block
			width: 30px
			height: 30px
			border: 1px solid #eee
			font-size: 14px
			margin: 0 5px
			color: #888
			display: flex
			justify-content: center
			align-items: center
			transition: all .3s
			&:hover
				border: 1px solid #eee
				background: #017285
				color: #FFF


	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		width: 100%
		margin-bottom: 60px
		margin-top: 40px
		display: flex
		justify-content: center
		align-items: center
		a
			display: block
			width: 30px
			height: 30px
			border: 1px solid #eee
			font-size: 14px
			margin: 0 5px
			color: #888
			display: flex
			justify-content: center
			align-items: center
			transition: all .3s
			&:hover
				border: 1px solid #eee
				background: #017285
				color: #FFF


.mainblue
	color: #FFF !important
	background: #017285



.lil
	width: 100%
	height: 1px
	background: #eee
	clear: both
	margin-bottom: 20px
	margin-top: 20px





