
@import reset
@import "bourbon"
@import "susy"
@import _index




@import _index

// shorthand
$desktop: 12 (80px 20px) split
$pad: 8 (90px 20px) split
$mobile: 6 (90px 15px) split

$w_desktop: 12 split
$w_pad: 8 split
$w_mobile: 6 split

$breakpoint_desktop: 979px
$breakpoint_pad: 767px
$breakpoint_mobile: 0px

$susy: (debug: (image: hide))

body
	font-family: Microsoft JhengHei
	-webkit-font-smoothing: antialiased
	overflow-x: hidden
	line-height: 1.5
// a
// 	color: #00a3e4

p, h6, h5, h4, h3, h2
	line-height: 1.5
	font: 14px
	color: #696969

.clear
	clear: both
.clearfix:before,.clearfix:after
	content: ""
	display: table
.clearfix:after
	clear: both
.clearfix
	zoom: 1 /* ie 6/7 */






.top_header
	background: #017285
	height: 40px

	+susy-breakpoint($breakpoint_mobile, $w_mobile)
		+container


	+susy-breakpoint($breakpoint_pad, $w_pad)
		+container


	+susy-breakpoint($breakpoint_desktop, $w_desktop)
		+container
		.top_header_menu
			.lil
				height: 14px
				width: 1px
				background-color: #FFF
				margin: 0 10px
			.magnifier
				width: 40px
				height: 40px
				background-color: #222
				margin-left: 20px
				display: flex
				flex-direction: row
				justify-content: flex-end
				align-items: center
				transition: all .2s
				input
					display: none
					width: 0px
					height: 30px
					margin-right: 10px
					background: #222
					border: none
					border-bottom: 1px solid #444
					outline: none
					padding: 0 20px
					color: #FFF

				.search_btn
					width: 40px
					height: 40px
					background-color: #185762
					display: flex
					flex-direction: row
					justify-content: center
					align-items: center
					transition: all .2s
					i
						color: #FFF

			ul
				height: 40px
				display: flex
				flex-direction: row
				justify-content: flex-end
				align-items: center

				li

					a
						display: block
						color: #FFF
						font-size: 13px

.w_flexible
	width: 360px !important
	input
		display: block !important
		width: 300px !important


.slick-dots
	bottom: 15px !important

.main_image
	+susy-breakpoint($breakpoint_mobile, $w_mobile)
		+container


	+susy-breakpoint($breakpoint_pad, $w_pad)
		+container


	+susy-breakpoint($breakpoint_desktop, $w_desktop)
		+container
		margin-bottom: 60px
		position: relative
		.main_slider
			.new_photo
				width: 100%
				img
					width: 100%
		.logo	
			position: absolute
			width: 250px
			left: 30px
			top: 20px
			z-index: 1100
		.deskmenu
			position: absolute
			width: 900px
			height: 50px
			// background-color: #eee
			z-index: 1000
			right: 40px
			top: 10px
			display: flex
			flex-direction: row
			justify-content: flex-end
			align-items: center
			ul
				display: flex
				flex-direction: row
				justify-content: flex-end
				align-items: center
				li
					position: relative
					a
						display: block
						height: 50px
						color: #005968
						padding: 0 25px
						font-size: 18px
						font-weight: 500
						display: flex
						flex-direction: row
						justify-content: flex-end
						align-items: center
						&:hover
							color: #222

					ul
						position: absolute
						display: block
						width: 140px
						z-index: 1000
						visibility: hidden
						opacity: 0
						top: 45px
						left: 0px
						transition: all .3s
						a
							display: block
							height: auto
							width: 140px
							color: #c0c0c0
							background: rgba(0, 0, 0, .8)
							border-bottom: 1px solid #666
							line-height: 1.5
							font-size: 13px
							padding: 10px 0
							text-align: center
							transition: all .3s
							&:hover
								color: #FFF

					&:hover
						ul
							visibility: visible
							opacity: 1












.footer_wrapper
	width: 100%
	background: url('../img/footer_bg.jpg')
	height: 500px
	background-size: cover
	padding: 50px 0
footer
	+susy-breakpoint($breakpoint_mobile, $mobile)
		+container

	+susy-breakpoint($breakpoint_pad, $pad)
		+container

	+susy-breakpoint($breakpoint_desktop, $desktop)
		+container
		padding: 0 30px
	
		.links_right
			+span(12)
			.links_s
				+span(2)
				margin-bottom: 20px
				h6
					color: #00a3e4
					margin-bottom: 20px
				a
					display: block
					color: #FFF
					font-size: 14px
					line-height: 1.3
					margin-bottom: 10px
			


			.links_us
				+span(12)
				h6
					color: #00a3e4
					margin-bottom: 20px
				p
					color: #FFF
					font-size: 12px
				a
					display: block
					color: #FFF
					font-size: 14px
					line-height: 1.3
					margin-bottom: 10px
			
			.copyright
				+span(9)
				.gov
					display: flex
					flex-direction: row
					justify-content: flex-start
					align-items: center
					img
						margin-top: 20px
						margin-right: 20px
			
				p
					color: #FFF
					font-size: 12px

			.culture_dep
				+span(3 omega)
				height: 50px
				display: flex
				flex-direction: row
				justify-content: flex-end
				align-items: center






