{# index.twig #}
{% extends "/_template/layout.twig" %}



{% block page %}


{% include '_partial/inside_hero.twig' %}

<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> > <a href="">公告資訊 </a> > <p>招標公告</p></div>

	{% include '_partial/icons.twig' %}

</div>



<div class="page_w">

	<!-- notice_tab -->
	<div class="page_tab">
		<div class="aside_menu">
			<ul>
				<li class="onpage"> <i class="fa fa-newspaper-o" aria-hidden="true"></i> 北流簡介</li>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i>表演廳</a></li>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 流行音樂文化館</a></li>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 產業區</a></li>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 戶外展演區</a></li>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 北流大事紀</a></li>
			</ul>
		</div>
	</div>




	<!-- page_contnet -->
	<div class="page_contnet">

			<div class="about_detail">
			<div class="t-title">關於北流</div>
				
			<div class="about_content">
				<img src="img/about_01.jpg" alt="">	
				<p>為因應全球化與科技化所形成的臺灣流行音樂產業的經營挑戰，文化部（前文建會）於2004年配合行政院新十大建設政策目標，辦理北部流行音樂中心興建計畫，執行相關軟、硬體建置，以扶植臺灣流行音樂產業、促進產值提升與發展。</p>
				<p>北部流行音樂中心基地位於臺北市南港區向陽路與忠孝東路交叉口東北側，介於南港三鐵共構車站與捷運南港線昆陽站之間，基地面積為8.96公頃；以市民大道區隔成北基地及南基地，包括表演廳、流行音樂文化館、產業區三大場館，兩基地藉由造型天橋加以串聯。三幢升起的主建築形成一個三角形的標誌，加強了整體建築的統一性，也彰顯著北部流行音樂中心的三支視覺軸線，引領遊客分至表演廳、流行音樂文化館及產業區。</p>
				<p>北部流行音樂中心之建築設計係經由國際競圖後，由美國建築設計事務所RUR Architecture P.C.獲選，國內的配合團隊為宗邁建築師事務所。北基地興建工程自104年1月開工，預計107年6月完工，並規劃於107年10月辦理試營運；南基地興建工程自105年4月開工，預計108年4月完工。</p>
				<p>回顧臺灣流行音樂發展之進程，充沛的創作人才、成熟的製作功力及相對自由的市場機制，以領先之姿佔據華語流行樂壇。北部流行音樂中心的興建以「產業群聚空間」為概念規劃，為亞洲唯一複合型流行音樂聚落，期許將流行音樂後製、行銷、人才養成以及資訊全方位串連整合，成為流行音樂的孕育中心與展演中心；並能提供最新的音樂創作軟硬體技術和國際業界資訊，吸引多元背景的人才交流跨界合作，同時構築城市國際行銷的舞台，彰顯臺北市多元文化的創意與活力，吸引國際人士來訪，形成城市觀光效應。</p>
			</div>

			
			
		</div>

		{% include '_partial/icons.twig' %}

	</div>

</div>








{% endblock %}