{# index.twig #}
{% extends "/_template/layout.twig" %}



{% block page %}


{% include '_partial/inside_hero.twig' %}

<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> > <a href="">公告資訊 </a> > <p>招標公告</p></div>

	{% include '_partial/icons.twig' %}

</div>



<div class="page_w">

	<!-- notice_tab -->
	<div class="page_tab">
		<div class="aside_menu">
			<ul>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 北流簡介</a></li>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i>表演廳</a></li>
				<li class="onpage"><i class="fa fa-newspaper-o" aria-hidden="true"></i> 流行音樂文化館</li>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 產業區</a></li>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 戶外展演區</a></li>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 北流大事紀</a></li>
			</ul>
		</div>
	</div>




	<!-- page_contnet -->
	<div class="page_contnet">

			<div class="about_detail">
			<div class="t-title">流行音樂文化館</div>
				
			<div class="about_content">
				<img src="img/about_02.jpg" alt="">	
				<img src="img/about_03.jpg" alt="">	
				<p>表演廳為北部流行音樂中心的主廳館，為一地上五層樓，地下三層的建築，其外觀為不規則的殼狀造型，鋼造結構外包覆灰綠色的烤漆屋頂，模擬臺灣山岳重巒疊嶂，象徵著臺灣流行音樂邁入新世紀後，屢創高峰的多元發展之勢。室內可容納約4,800個座席，調整部份座席改為立席後，可容納約6,300人。除了演出空間，另包含支援演出的化妝室、更衣間、演員休息室、排練室、道具佈景服裝工作室、行政辦公室以及服務設施區域。相較於小巨蛋12,000席的大型場館，與國際會議中心及國父紀念館2,500-3,100席，北部流行音樂中心表演廳提供一處中型規模的表演場地，符合業界的期待與市場的需求。
				</p>
			</div>

			
			
		</div>

		{% include '_partial/icons.twig' %}

	</div>
</div>







{% endblock %}