{# index.twig #}
{% extends "/_template/layout.twig" %}



{% block page %}


{% include '_partial/inside_hero.twig' %}

<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> > <a href="">公告資訊 </a> > <p>招標公告</p></div>

	{% include '_partial/icons.twig' %}

</div>



<div class="page_w">

	<!-- notice_tab -->
	<div class="page_tab">
		<div class="aside_menu">
			<ul>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 北流簡介</a></li>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i>表演廳</a></li>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 流行音樂文化館</a></li>
				<li class="onpage"><i class="fa fa-newspaper-o" aria-hidden="true"></i> 產業區</li>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 戶外展演區</a></li>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 北流大事紀</a></li>
			</ul>
		</div>
	</div>




	<!-- page_contnet -->
	<div class="page_contnet">

			<div class="about_detail">
			<div class="t-title">產業區</div>
				
			<div class="about_content">
				<img src="img/about_04.jpg" alt="">	
				
				<p>北部流行音樂中心產業區的建築外觀為一發光水晶體造型，代表著流行音樂發自民間的創作生命力；其整體規劃結合音樂展演空間、流行產業社群暨育成空間，具有多功能用途。音樂展演空間（Live House）共有四間，分別可容納200、800至1,600人不等，其中一間為音樂主題餐廳；此外並設有音樂教室、練團室、辦公室、錄音工作室和後製作設施等。期望產業區能成為流行音樂產業人才的搖籃，並藉由周邊的餐飲及零售商店配套成為以音樂為主題的市集，吸引人潮聚集。</p>

				<img src="img/about_05.jpg" alt="">	
				<div class="photo_des">流行音樂產業區外人行道</div>

				<img src="img/about_06.jpg" alt="">	
								<div class="photo_des">流行音樂產業區外人行道</div>

			</div>

			
			
		</div>

		{% include '_partial/icons.twig' %}

	</div>

</div>








{% endblock %}