{# index.twig #}
{% extends "/_template/layout_insidepage.twig" %}
{% block page %}





<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> >  <p>聯絡我們</p></div>

	<div class="icons">
		<div class="social_media">
			<div class="i_icon fb"><i class="fa fa-facebook" aria-hidden="true"></i></div>
			<div class="i_icon google"><i class="fa fa-google-plus" aria-hidden="true"></i></i></div>
			<div class="i_icon line"><i class="fa fa-commenting-o" aria-hidden="true"></i></div>
			<div class="i_icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i></div>
		</div>
		<div class="function">
			<div class="i_icon download"><i class="fa fa-download" aria-hidden="true"></i></div>
			<div class="i_icon mail"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
			<div class="i_icon print"><i class="fa fa-print" aria-hidden="true"></i></div>
		</div>
		<div class="font">
			<div class="i_icon font_zoom"><i class="fa fa-font" aria-hidden="true"></i> +</div>
			<div class="i_icon font_zoom"><i class="fa fa-font" aria-hidden="true"></i> -</div>
		</div>
	</div>
</div>




<div class="page_w">

	<!-- notice_tab -->
	<div class="page_tab">
		<div class="aside_menu">
			<ul>
				<li class="onpage"><i class="fa fa-newspaper-o" aria-hidden="true"></i> 聯絡我們</li>
			</ul>
		</div>
	</div>


	<!-- page_contnet -->
	<div class="page_contnet">

		<div class="contact_us">
			<div class="t-title">聯絡我們</div>
			<div class="input_div">
				<p>*姓名	</p><input type="text">
			</div>
			<div class="input_div">
				<p>*性別</p>
				<div class="gender"><label for="male"><input type="radio" name="sex" id="male" />先生 </label></div>
				<div class="gender"> <label for="female"><input type="radio" name="sex" id="female" /> 小姐 </label></div>
			</div>
			<div class="input_div">
				<p>*E-mail</p>	<input type="text">
			</div>
			<div class="input_div">
				<p>*電話</p>	<input type="text">
			</div>
			<div class="input_div">
				<p>*主旨</p>	<input type="text">
			</div>
			<div class="input_div">
				<p>*信件內容</p>	<textarea name="" id="" cols="30" rows="10"></textarea>
			</div>

			<div class="confirm_btn">
				<a href="" class="cancel">取消</a>
				<a href="" class="submit">送出</a>
			</div>

		</div>
	</div>


</div>








{% endblock %}