{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}







{% include '_partial/inside_hero.twig' %}
<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> > <a href="">公告資訊 </a> > <p>招標公告</p></div>

	{% include '_partial/icons.twig' %}
</div>



<div class="page_w">
<!-- page_tab -->
	<div class="page_tab">
		<div class="aside_menu">
			<ul>
				<li class="onpage"><i class="fa fa-gavel" aria-hidden="true"></i> 法令政策</li>
				<li><a href=""><i class="fa fa-gavel" aria-hidden="true"></i> 資訊安全政策</a></li>
				<li><a href=""><i class="fa fa-gavel" aria-hidden="true"></i> 政府網站資料開放宣告</a></li>
			</ul>
		</div>
	</div>

<!-- page_contnet -->
	<div class="page_contnet">
		<div class="press_detail">

<!-- 		<div class="goback"> <a href="#"> <i class="fa fa-arrow-left" aria-hidden="true"></i> 回新聞稿頁</a></div>
 -->
		<div class="t-title">隱私權保護政策</div>
			<!-- <div class="t_date">
				<p>發佈日期:106/05/25</p>
				<p>更新日期:106/05/25</p>
			</div> -->
		<div class="press_content">
			<p>親愛的網友，北部流行音樂中心非常重視並尊重網友的隱私權。為了幫助您瞭解北部流行音樂中心網站如何收集、應用及保護您的個人資訊，請詳細閱讀以下北部流行音樂中心網站隱私權暨資訊安全保護政策，本政策將幫助您了解，在您使用北部流行音樂中心網站以及其延伸服務網站所提供的服務時，我們收集、運用及保護網友個人資料的政策與原則。</p>

			<h6>適用範圍</h6>
			<p>以下的隱私權保護政策，適用於您在北部流行音樂中心網站以及其延伸服務網站（以www.musiccenter.taipei及en.musiccenter.taipei網域為原則，以下均簡稱為北部流行音樂中心網站）活動時，所涉及的個人資料收集、運用與保護。但不適用於經由北部流行音樂中心網站搜尋連結之其他網站，當您在這些網站進行活動時，關於個人資料的保護，適用各該網站的隱私權保護政策。</p>

			<h6>個人資料收集方式</h6>
			<p>我們會透過以下幾種管道收集網友個人資料：</p>
			<p>線上活動及網路問卷調查：</p>
			<p>當您參加北部流行音樂中心網站線上活動或網路問卷調查時，可能會請您提供姓名、身分證字號、電話、電子信箱及住址等個人資訊，您也可能因為北部流行音樂中心網站的廣告宣導頻道之超連結，而參與其他網站或機構主辦的抽獎、競賽或行銷活動，對於您主動提供的個人資訊，這些機構或連結網站各有其個別的隱私權保護政策，其資料處理措施不適用北部流行音樂中心網站隱私權保護政策，我們無法負擔任何連帶責任。</p>

			<h6>一般瀏覽：</h6>
			<p>北部流行音樂中心網站會保留網友在上網瀏覽或查詢時，伺服器自行產生的相關記錄(LOG)，包括連線設備IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等。北部流行音樂中心網站會對個別連線者的瀏覽器予以標示，歸納使用者瀏覽器在北部流行音樂中心網站內部所瀏覽的網頁，除非您願意告知您的個人資料，否則北部流行音樂中心網站不會，也無法將此項紀錄和您的個人資料進行對應。</p>

			<h6>其他 ：</h6>
			<p>除了您主動於網站登錄提供個人資料外，您可能在北部流行音樂中心的其他單元，主動提供個人資料如電子郵件，姓名等。這種形式的資料提供，不在北部流行音樂中心網站隱私權保護政策的範圍以內。此外，如果您寫信與北部流行音樂中心聯繫或是透過其他管道向我們反應意見，我們也會保存此項通訊及處理紀錄。</p>

			<h6>Cookies的運用與政策</h6>
			<p>為提供個人化的服務，我們有時候會使用Cookies技術來儲存並在某些時候追蹤網友的資料。Cookie是從網站傳送到瀏覽器，並保存在使用者電腦硬碟中的簡短資料。網友可以在Netscape的「功能設定」的「進階」或是IE的「Internet選項」的「安全性」中選擇修改瀏覽器對Cookies的接受程度，包括接受所有Cookies、設定Cookies時得到通知、拒絕所有Cookies等。如果您選擇拒絕所有的Cookies，可能無法使用部份個人化服務或是參與部份的活動。</p>
			<p>一般而言，我們會依據以下目的及情況，在網友瀏覽器中寫入並讀取Cookies︰</p>
			<p>為提供更好、更個人化的服務：</p>
			<p>方便您參與個人化的互動活動。cookies 在您註冊或登入時建立，並在您登出時修改。</p>
			<p>為統計瀏覽人數及分析瀏覽模式：</p>
			<p>以了解網頁瀏覽的情況，做為改善服務的參考。</p>
			<p>追蹤點選宣導廣告或參加行銷活動情形：</p>
			<p>在發送電子報或網站主辦的行銷活動時，有時會寫入Cookies資料以追蹤整個活動過程中，網友的參與程度及相關數據。</p>

			<h6>個人資料的運用方式</h6>
			<p>北部流行音樂中心網站不會出售、出租或任意交換任何您的個人資料給其他團體或個人。 只有在以下狀況，北部流行音樂中心網站會在本政策原則之下，與第三者共用您的個人資料。</p>
			<p>線上活動及網路調查：</p>
			<p>北部流行音樂中心網站所收集的受訪者姓名、身份證字號，僅供抽獎活動依據。電話、e-mail及住址等資訊，則作為通知受訪者抽獎結果， 及分析之用，並不做其他用途。其他資料僅止於服務分析或學術用途。除非受訪者同意，否則所有資料僅供資料分析之用， 北部流行音樂中心網站不會將該等資料用做其他用途。</p>
			<p>統計與分析：</p>
			<p>北部流行音樂中心網站根據使用者註冊、問卷調查、行銷活動或伺服器日誌文件，對使用者的人數、興趣和行為進行內部或委託學術研究。此研究是根據全體網友的資料進行統計分析與整理，而我們所有的公開資訊或分析報告，將僅對全體使用者行為總和進行分析及公佈，並不會提供特定對象個別資料之分析報告。</p>

			<h6>資料的分享與公開方式</h6>
			<p>北部流行音樂中心網站不會任意出售、交換、或出租任何您的個人資料給其他團體或個人。 只有在以下狀況，北部流行音樂中心網站會在本政策原則之下，與第三者共用您的個人資料。</p>
			<p>為了提供您其他服務或優惠權益：</p>
			<p>需要與提供該服務或優惠之第三者共用您的資料時，北部流行音樂中心網站會在活動時提供充分說明，並且在資料收集之前通知您，您可以自由選擇是否接受這項特定服務或優惠。</p>
			<p>為進行服務品質加值、評估及研究：</p>
			<p>為提供網友各精確及優質之服務，北部流行音樂中心網站得按照資料保密協議，將使用者資料與第三人資料比較對照。此外，為了向未來的合作伙伴、廣告的單位及其他第三方介紹我們的服務及其他的合法目的，北部流行音樂中心網站得在不具名的情形之下，揭露使用者之統計資料。</p>
			<p>其他：</p>
			<p>本網站有義務保護其網友隱私及個人資料，非經您本人同意不會自行修改、刪除或提供任何（或部份）網友個人資料及檔案。除非經過您事先同意或符合以下情況；</p>
			<p>中華民國司法檢調單位透過合法程序進行調閱。</p>
			<p>違反網站相關規章且已造成脅迫性。</p>
			<p>基於主動衍伸政府網站服務效益之考量。</p>
			<p>保護其他網友之合法使用權益。</p>

			<h6>資訊安全保護措施</h6>
			<p>由於網際網路資料的傳輸不能保證百分之百的安全，儘管北部流行音樂中心網站努力保護網友的個人資料安全，在部分情況下會使用通行標準的SSL保全系統，保障資料傳送的安全性。由於資料傳輸過程牽涉您上網環境保全之良窳，我們並無法確信或保證網友傳送或接收北部流行音樂中心網站資料的安全，網友須注意並承擔網路資料傳輸之風險。</p>
			<p>如果您在網路上公佈可被他人讀取的個人資料時，可能會收到其他團體主動提供的廣告或垃圾郵件。請您諒解此部份所造成的後果均非北部流行音樂中心網站所能控制範圍，我們也無法負擔任何責任。</p>
			<p>隱私權暨資訊安全保護政策修訂</p>
			<p>北部流行音樂中心網站會不定時修訂本項政策，以符合最新之隱私權保護規範。當我們在使用個人資料的規定做較大幅度修改時，我們會在網頁上張貼告示，通知您相關事項。</p>
			<p>隱私權暨資訊安全保護政策諮詢</p>
			<p>如果您對於我們的隱私權保護政策或是有個人資料收集、運用、更新等問題，請於上班時間聯絡：(02)xxxxxxxx 分機xxx，當然也可以直接來信至意見信箱。</p>


		</div>

	</div>
		{% include '_partial/icons.twig' %}

	</div>

</div>








{% endblock %}