{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}







{% include '_partial/inside_hero.twig' %}
<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> > <a href="">公告資訊 </a> > <p>招標公告</p></div>

	{% include '_partial/icons.twig' %}
</div>



<div class="page_w">
<!-- page_tab -->
	<div class="page_tab">
		<div class="aside_menu">
			<ul>
				<li><a href=""><i class="fa fa-gavel" aria-hidden="true"></i> 法令政策</a></li>
				<li><a href=""><i class="fa fa-gavel" aria-hidden="true"></i> 資訊安全政策</a></li>
				<li class="onpage"><i class="fa fa-gavel" aria-hidden="true"></i> 政府網站資料開放宣告</li>
			</ul>
		</div>
	</div>

<!-- page_contnet -->
	<div class="page_contnet">
		<div class="press_detail">

<!-- 		<div class="goback"> <a href="#"> <i class="fa fa-arrow-left" aria-hidden="true"></i> 回新聞稿頁</a></div>
 -->
		<div class="t-title">政府網站資料開放宣告</div>
			<!-- <div class="t_date">
				<p>發佈日期:106/05/25</p>
				<p>更新日期:106/05/25</p>
			</div> -->
		<div class="press_content">
			<h6>一、授權方式及範圍 </h6>
			<p>為利各界廣為利用網站資料，北部流行音樂中心（以下簡稱本中心）網站上刊載之所有資料與素材，其得受著作權保護之範圍，以無償、非專屬、得再授權之方式提供公眾使用，使用者得不限時間及地域，重製、改作、編輯、公開傳輸或為其他方式之利用，開發各種產品或服務（簡稱加值衍生物），此一授權行為不會嗣後撤回，使用者亦無須取得本中心之書面或其他方式授權。然使用時，應註明出處。</p>

			<h6>二、相關事項說明</h6>
			<p>(一)本授權範圍僅及於著作權保護之範圍，不及於其他智慧財產權利，包括但不限於專利、商標、及本中心標誌之提供。</p>
			<p>(二)當事人自行公開或依法令公開之個人資料是否得被蒐集、處理及利用，使用者須自行依照個人資料保護法之相關規定，規劃並執行法律要求之相關保護措施。</p>
			<p>(三)部份的影音、圖像、樂譜、專人專案撰文，因本網站依約僅具公開發表之地位，故經本中心特別聲明須另取得同意方可使用之資料與素材，不在本授權範圍之內。</p>
			<p>(四)使用本授權提供之資料與素材，不得惡意變更其相關資訊，若編輯、改作後所展示之資訊與原目的或內涵不符，使用者須自負民事、刑事上之法律責任。</p>

			<h6>三、本網站之授權並不代表本中心建議、認可或贊同使用者加值衍生物之地位。</h6>

			<div class="lil"></div>
			
			<p>著作權侵權處理辦法</p>
			<p>一、本中心尊重他人著作權，並依「著作權聲明」及著作權法等相關規定保護著作權，任何人士不得有任何侵害他人著作權之行為。</p>
			<p>二、如果您（著作權人、製版權人或專屬授權之被授權人）認為本中心網站的內容侵害您的權利或有違反著作權法等情事，本中心將依下列程序處理：</p>
			<p>（一）通知本中心</p>
			<p>請您填寫「著作權侵害通知書」，以傳真或電子郵件（掃瞄成電子檔）至本中心，恕不接受電子簽章。</p>
			<p>（二）先行移除</p>
			<p>如「著作權侵害通知書」無須補正（詳參通知補正），依您所提供的資料，本中心初步研判內容有侵權或違法之虞時，本中心將先行從網站上移除內容，但會保留及封存移除時的相關資料（著作權法第90條之10）。</p>
			<p>（三）轉知涉有侵權之使用者（以下簡稱使用者）</p>
			<p>本中心將您所提供的聯絡資料（姓名、電子郵件、電話、傳真）轉知使用者，請他（她）與您聯繫及溝通解決爭議（著作權法第90條之4第2項）。</p>
			<p>（四）使用者異議</p>
			<p>如果使用者認為沒有侵害著作權情事，將填寫「著作權侵害異議通知書」送本中心，如無須補正（詳參通知補正），本中心會將異議內容及聯絡資料（姓名、電話、電子郵件）轉送給您，您必須在接獲本中心通知之次日起10個工作日內提出已對使用者訴訟的證明（含報案三聯單），否則本中心將於通知您的次日起14個工作日後依使用者要求重新上傳（著作權法第90條之9）。</p>
			
			<p>三、其他注意事項：</p>
			<p>（一）受委任提出侵害或異議通知</p>
			<p>如受委任提出「著作權侵害通知書」或「著作權侵害異議通知書」，代理人應同時聲明其已受當事人（著作權人、製版權人、專屬授權之被授權人或使用者）委託，並載明當事人姓名或名稱。</p>
			<p>（二）通知補正</p>
			<p>1、「著作權侵害通知書」或「著作權侵害異議通知書」內容若有不完整，本中心將於接到通知書之次日起5個工作日內通知補正。</p>
			<p>2、當事人或其代理人應於接到通知補正之次日起5個工作日內完成補正，屆期未補正或補正未完全，視為未提出「著作權侵害通知書」或「著作權侵害異議通知書」。</p>
			<p>3、不合格式之通知或未補正或補正未完全者，不得作為本中心知悉侵權情事之依據。</p>
			<p>（三）3次侵權終止服務</p>
			<p>使用者若有3次涉及侵權情事，本中心終止全部或部分服務（著作權法第90條之4第1項第2款）。</p>
			<p>（四）個人資料保護</p>
			<p>本中心重視個人資料保護，處理著作權侵權過程中，除聯絡資料（姓名、電子郵件、電話、傳真）外，本中心不會提供您其他足以識別他人之個人資料，如您欲取得該項資料，您須向刑事警察局報案或地方法院檢察署提出刑事告訴，本中心將依前開單位來函配合提供。</p>
			<p>（五）本中心聯絡窗口</p>
			<p>北部流行音樂中心</p>
			<p>Email信箱：</p>
			<p>電話：</p>
			<p>傳真：</p>
			<p>地址：</p>

			
		</div>
		
		
	</div>



	</div>

</div>








{% endblock %}