{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}







{% include '_partial/inside_hero.twig' %}
<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> > <a href="">公告資訊 </a> > <p>招標公告</p></div>

	{% include '_partial/icons.twig' %}
</div>



<div class="page_w">
<!-- page_tab -->
	<div class="page_tab">
		<div class="aside_menu">
			<ul>
				<li><a href=""><i class="fa fa-gavel" aria-hidden="true"></i> 法令政策</a></li>
				<li class="onpage"><i class="fa fa-gavel" aria-hidden="true"></i> 資訊安全政策</li>
				<li><a href=""><i class="fa fa-gavel" aria-hidden="true"></i> 政府網站資料開放宣告</a></li>
			</ul>
		</div>
	</div>

<!-- page_contnet -->
	<div class="page_contnet">
		<div class="press_detail">

<!-- 		<div class="goback"> <a href="#"> <i class="fa fa-arrow-left" aria-hidden="true"></i> 回新聞稿頁</a></div>
 -->
		<div class="t-title">資訊安全政策</div>
			<!-- <div class="t_date">
				<p>發佈日期:106/05/25</p>
				<p>更新日期:106/05/25</p>
			</div> -->
		<div class="press_content">
			<h6>資訊安全保護措施</h6>
			<p>由於網際網路資料的傳輸不能保證百分之百的安全，儘管北部流行音樂中心網站努力保護網友的個人資料安全，在部分情況下會使用通行標準的SSL保全系統，保障資料傳送的安全性。由於資料傳輸過程牽涉您上網環境保全之良窳，我們並無法確信或保證網友傳送或接收北部流行音樂中心網站資料的安全，網友須注意並承擔網路資料傳輸之風險。</p>
			<p>如果您在網路上公佈可被他人讀取的個人資料時，可能會收到其他團體主動提供的廣告或垃圾郵件。請您諒解此部份所造成的後果均非北部流行音樂中心網站所能控制範圍，我們也無法負擔任何責任。</p>

			<h6>隱私權暨資訊安全保護政策修訂</h6>
			<p>北部流行音樂中心網站會不定時修訂本項政策，以符合最新之隱私權保護規範。當我們在使用個人資料的規定做較大幅度修改時，我們會在網頁上張貼告示，通知您相關事項。</p>
			<h6>隱私權暨資訊安全保護政策諮詢</h6>
			<p>如果您對於我們的隱私權保護政策或是有個人資料收集、運用、更新等問題，請於上班時間聯絡：(02)xxxxxxxx 分機xxx，當然也可以直接來信至意見信箱。</p>


		</div>


	</div>

	{% include '_partial/icons.twig' %}

	</div>

</div>








{% endblock %}