{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




<div class="two_column_section">
{# news_info #}
	<div class="news_info">
		<div class="t-title"> <img src="img/wave.png" alt="">最新消息</div>
		<div class="news_list">
			<div class="news_row">
				<a href="">
					<h6>覺醒音樂祭 Wake Up Festival 2017</h6>
					<p>Wake Up音樂祭源自2009年一群缺乏資源的嘉義17歲高中生，因為缺乏演出機會而自行舉辦的音樂祭，經過八年的演進後成為台灣指標性的國際音樂祭之一。
	     			</p>
				</a>
			</div>
			<div class="news_row">
				<a href="">
					<h6>陰陽座 台灣公演2017『頻伽旋舞美麗島』</h6>
					<p>2002年金曲獎最佳樂團交工樂隊的得獎作品/台灣流行音樂1993-2005年間的百張最佳專輯《菊花夜行軍》發行15週年，將於2017年5月20日重現舞台。
	     			</p>
				</a>
			</div>

			<div class="news_row">
				<a href="">
					<h6>覺醒音樂祭 Wake Up Festival 2017</h6>
					<p>擅以秀麗詞藻的堆疊和日本傳說、神怪故事為基底的歌詞，去年發行久違的全新專輯《迦陵頻伽》，令深為他們音樂魔力著迷的台灣式神們一解相思之苦。
	     			</p>
				</a>
			</div>
			<div class="news_row">
				<a href="">
					<h6>覺醒音樂祭 Wake Up Festival 2017</h6>
					<p>Wake Up音樂祭源自2009年一群缺乏資源的嘉義17歲高中生，因為缺乏演出機會而自行舉辦的音樂祭，經過八年的演進後成為台灣指標性的國際音樂祭之一。
	     			</p>
				</a>
			</div>
		</div>
	</div>
{# record_video #}
	<div class="record_video">
		<div class="t-title"> <img src="img/wave.png" alt="">資深音樂人口述歷史影音紀錄影片</div>
		<div class="video_inside">
			<iframe src="https://www.youtube.com/embed/2iFnBcdYulQ" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

<div class="clear" style="height: 30px"></div>

{# slider_ad #}
	<div class="slider_ad">
		<div class="ad_slider">
			<section class="ad_banner slider">
			    <div class="ad_photo"><img src="img/photo_02.jpg"> </div>
			    <div class="ad_photo"><img src="img/photo_02.jpg"> </div>
			    <div class="ad_photo"><img src="img/photo_02.jpg"> </div>
			</section>
	</div>
	</div>

{# display_space #}
	<div class="display_space">
		<img src="img/photo_01.jpg" alt="">
	</div>




</div>




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>










{% endblock %}