{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}

{% include '_partial/index_hero.twig' %}

<div class="two_column_section">
{# news_info #}
	<div class="news_info">
		<div class="t-title"> <img src="img/wave.png" alt="">最新消息</div>
		<div class="news_list">
			<div class="news_row">
				<a href="">
					<h6>2017/09/28</h6>
					<p>文化局 10/11~10/13一週藝文活動看板</p>
				</a>
			</div>
			<div class="news_row">
				<a href="">
					<h6>2017/09/28</h6>
					<p>文化局 10/02~10/07一週藝文活動看板07一週藝文活動看板07一週藝文活動看板</p>
				</a>
			</div>

			<div class="news_row">
				<a href="">
					<h6>2017/09/28</h6>
					<p>文化局 9/25~9/30一週藝文活動看板</p>
				</a>
			</div>
			<div class="news_row">
				<a href="">
					<h6>2017/09/28</h6>
					<p>文化局 9/18~9/23一週藝文活動看板</p>
				</a>
			</div>
			<div class="news_row">
				<a href="">
					<h6>2017/09/28</h6>
					<p>2017李榮浩 有理想 世界巡迴演唱會 台北場</p>
				</a>
			</div>
			<div class="moreline">
				<a href="" class="more">more</a>
			</div>
		</div>
	</div>
{# record_video #}
	<div class="record_video">
		<div class="t-title"> 
			<a href="http://www.pmdb.org.taipei/index.jsp">
				<img src="img/wave.png" alt="">資深音樂人口述歷史影音紀錄影片
			</a>
		</div>
		<div class="video_inside">
			<iframe src="https://www.youtube.com/embed/2iFnBcdYulQ" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

<div class="clear" style="height: 30px"></div>

{# slider_ad #}
	<div class="slider_ad">
		<div class="ad_slider">
			<section class="ad_banner slider">
			    <div class="ad_photo"><img src="img/photo_02.jpg"> </div>
			    <div class="ad_photo"><img src="img/photo_02.jpg"> </div>
			    <div class="ad_photo"><img src="img/photo_02.jpg"> </div>
			</section>
	</div>
	</div>

{# display_space #}
	<div class="display_space">
		<a href="http://www.livehouse.taipei/"><img src="img/photo_01.jpg" alt=""></a>
	</div>

</div>


<div class="show_event_wrapper">
	<div class="show_event">
		<div class="show_tab">
			<div class="show_filter_tab activity">All</div>
			<div class="show_filter_tab">演唱會</div>
			<div class="show_filter_tab">展覽  </div>
			<div class="show_filter_tab">活動及講座</div>
			<div class="show_filter_tab">展演活動紀錄</div>
		</div>

		<!-- show_schedule -->
		<div class="show_schedule">

			<div class="date_list">
				<div class="date_unit">
					<div class="week">MON</div>
					<div class="date">1</div>
				</div>
				<div class="date_unit">
					<div class="week">TUE</div>
					<div class="date">2</div>
				</div>
				<div class="date_unit">
					<div class="week">WED</div>
					<div class="date">3</div>
				</div>
				<div class="date_unit">
					<div class="week">THU</div>
					<div class="date">4</div>
				</div>
				<div class="date_unit">
					<div class="week">FRI</div>
					<div class="date">5</div>
				</div>
				<div class="date_unit weeked">
					<div class="week">SAT</div>
					<div class="date">6</div>
				</div>
				<div class="date_unit weeked haveshow">
					<div class="week">SUN</div>
					<div class="date">7</div>
				</div>
				<div class="date_unit haveshow">
					<div class="week">MON</div>
					<div class="date">8</div>
				</div>
				<div class="date_unit">
					<div class="week">TUE</div>
					<div class="date">9</div>
				</div>
				<div class="date_unit">
					<div class="week">WED</div>
					<div class="date">10</div>
				</div>
				<div class="date_unit">
					<div class="week">THU</div>
					<div class="date">11</div>
				</div>
				<div class="date_unit">
					<div class="week">FRI</div>
					<div class="date">12</div>
				</div>
				<div class="date_unit weeked">
					<div class="week">SAT</div>
					<div class="date">13</div>
				</div>
				<div class="date_unit weeked">
					<div class="week">SUN</div>
					<div class="date">14</div>
				</div>
				<div class="date_unit">
					<div class="week">MON</div>
					<div class="date">15</div>
				</div>
				<div class="date_unit">
					<div class="week">TUE</div>
					<div class="date">16</div>
				</div>
				<div class="date_unit">
					<div class="week">WED</div>
					<div class="date">17</div>
				</div>
				<div class="date_unit haveshow">
					<div class="week">THU</div>
					<div class="date">18</div>
				</div>
				<div class="date_unit haveshow">
					<div class="week">FRI</div>
					<div class="date">19</div>
				</div>
				<div class="date_unit weeked">
					<div class="week">SAT</div>
					<div class="date">20</div>
				</div>
				<div class="date_unit weeked" >
					<div class="week">SUN</div>
					<div class="date">21</div>
				</div>

				<div class="date_unit">
					<div class="week">MON</div>
					<div class="date">15</div>
				</div>
				<div class="date_unit">
					<div class="week">TUE</div>
					<div class="date">16</div>
				</div>

			</div>

		</div>

		<div class="show_content">
			<div class="show_list-about">
				<div class="show_gogo">
					<h6>2017/9/16</h6>
					<p>李榮浩 有理想世界巡迴演唱會台北場</p>
				</div>
				<div class="show_gogo">
					<h6>2017/9/16</h6>
					<p>李榮浩 有理想世界巡迴演唱會台北場</p>
				</div>
				<div class="show_gogo">
					<h6>2017/9/16</h6>
					<p>李榮浩 有理想世界巡迴演唱會台北場</p>
				</div>
				<div class="show_gogo">
					<h6>2017/9/16</h6>
					<p>李榮浩 有理想世界巡迴演唱會台北場</p>
				</div>
				<div class="show_gogo">
					<h6>2016/7/28~2016/8/16</h6>
					<p>流行音樂演唱會製作人培訓計畫</p>
				</div>
				<div class="show_gogo">
					<h6>2015/7/23~2016/1/15</h6>
					<p>台北周末音樂不斷電</p>
				</div>
				<a href="" class="show_more">More</a>

			</div>

			<div class="show_block">
				<div class="show_detail">
					<a href="">
						<img src="img/show_01.jpg" alt="">
						<div class="mask">
							魏如萱 - 當狂花綻放時魏如萱當狂花綻放時魏如萱當狂花綻放時
						</div>
					</a>
				</div>

				<div class="show_detail">
					<a href="">
						<img src="img/show_02.jpg" alt="">
						<div class="mask">
							魏如萱 - 當狂花綻放時
						</div>
					</a>
				</div>

				<div class="show_detail">
					<a href="">
						<img src="img/show_03.jpg" alt="">
						<div class="mask">
							魏如萱 - 當狂花綻放時
						</div>
					</a>
				</div>

				<div class="show_detail">
					<a href="">
						<img src="img/show_04.jpg" alt="">
						<div class="mask">
							魏如萱 - 當狂花綻放時
						</div>
					</a>
				</div>

				<div class="show_detail">
					<a href="">
						<img src="img/show_05.jpg" alt="">
						<div class="mask">
							魏如萱 - 當狂花綻放時
						</div>
					</a>
				</div>

				<div class="show_detail">
					<a href="">
						<img src="img/show_06.jpg" alt="">
						<div class="mask">
							魏如萱 - 當狂花綻放時
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>






<div class="performance_hall">
	<div class="hall_left">
		<div class="hall-l">
			<a href="">
				<img src="img/hall_01.jpg" alt="">
				<div class="t-des">
					<h6>表演廳</h6>
					<p>其外觀為不規則的殼狀造型，鋼造結構外包覆灰綠色的烤漆屋頂，模擬臺灣山岳重巒疊嶂，象徵著臺灣流行音樂邁入新世紀後，屢創高峰的多元發展之勢。
					</p>
				</div>
			</a>
		</div>
	</div>

	<div class="hall_right">
		<div class="hall-s">
			<a href="">
			<img src="img/hall_02.jpg" alt="">
			<div class="t-des">
				<h6>流行音樂文化館</h6>
				<p>為國內第一個以流行音樂為主題的場館。在立方體東側立面牆上的造型樓梯特色，循著階梯蜿蜒拾級而上，細細品味流行音樂發展的歷史時間軸線
				</p>
			</div>
			</a>
		</div>
		<div class="hall-s">
			<a href="">
			<img src="img/hall_03.jpg" alt="">
			<div class="t-des">
				<h6>產業區</h6>
				<p>建築外觀為一發光水晶體造型，代表著流行音樂發自民間的創作生命力；其整體規劃結合音樂展演空間、流行產業社群暨育成空間，具有多功能用途。
				</p>
			</div>
			</a>
		</div>
	</div>

</div>




{% endblock %}