{# index.twig #}
{% extends "/_template/layout_insidepage.twig" %}
{% block page %}







<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> > <a href="">公告資訊 </a> > <p>招標公告</p></div>

	<div class="icons">
		<div class="social_media">
			<div class="i_icon fb"><i class="fa fa-facebook" aria-hidden="true"></i></div>
			<div class="i_icon google"><i class="fa fa-google-plus" aria-hidden="true"></i></i></div>
			<div class="i_icon line"><i class="fa fa-commenting-o" aria-hidden="true"></i></div>
			<div class="i_icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i></div>
		</div>
		<div class="function">
			<div class="i_icon mail"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
			<div class="i_icon print"><i class="fa fa-print" aria-hidden="true"></i></div>
		</div>
		<div class="font">
			<div class="i_icon font_zoom"><i class="fa fa-font" aria-hidden="true"></i> +</div>
			<div class="i_icon font_zoom"><i class="fa fa-font" aria-hidden="true"></i> -</div>
		</div>
	</div>
</div>



<div class="notice_w">

	<div class="notice_tab">
		<ul>
			<li class="onpage"> <i class="fa fa-list" aria-hidden="true"></i> 招標公告</li>
			<li><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 新聞稿</a></li>
			<li><a href=""><i class="fa fa-gavel" aria-hidden="true"></i> 法令政策</a></li>
			<li><a href=""><i class="fa fa-credit-card" aria-hidden="true"></i> 展演空間補助</a></li>
		</ul>
	</div>

	<div class="tender_detail">
		<div class="goback"> <a href="#"> <i class="fa fa-arrow-left" aria-hidden="true"></i> 回招標公告頁</a></div>


		<div class="t-title">106A179 [文化臺北―形象影片拍攝計畫]更正招標公告</div>
		<div class="t_date">
			<p>發佈日期:106/05/25</p>
			<p>更新日期:106/05/25</p>
		</div>
		<div class="tender_content">
			<p>[機關代碼]3.79.59</p>
			<p>[機關名稱]臺北市政府文化局</p>
			<p>[單位名稱]藝術發展科/秘書室</p>
			<p>[機關地址]110臺北市信義區市府路一號四樓東北區</p>
			<p>[聯絡人]江佩紋/施怡如</p>
			<p>[聯絡電話](02)27208889分機3607/3577</p>
			<p>[傳真號碼](02)27253364</p>
			<p>[電子郵件信箱]bt-shih@mail.taipei.gov.tw</p>
			<p>[標案案號]106A179</p>
			<p>[標案名稱]文化臺北―形象影片拍攝計畫</p>
			<p>[標的分類]勞務類96 - 娛樂,文化,體育服務</p>
			<p>[財物採購性質]非屬財物之工程或勞務</p>
			<p>[採購金額]970,000元</p>
			<p>[採購金額級距]未達公告金額</p>
			<p>[辦理方式]自辦</p>
			<p>[依據法條]採購法第49條</p>
			<p>[預算金額]970,000元</p>
			<p>[預算金額是否公開]是</p>
			<p>[預計金額]970,000元</p>
			<p>[預計金額是否公開]是</p>
			<p>[後續擴充]否</p>
			<p>[是否受機關補助]否</p>
			<p>[是否含特別預算]否</p>
			<p>[招標方式]公開取得報價單或企劃書</p>
			<p>[決標方式]參考最有利標精神</p>
			<p>[是否電子報價]否</p>
			<p>[新增公告傳輸次數]01</p>
			<p>[招標狀態]第一次公開取得</p>
			<p>[機關自定公告日]106/05/24</p>
			<p>[是否複數決標]否</p>
			<p>[是否訂有底價]是</p>
			<p>[價格是否納入評選]是</p>
			<p>[所占配分或權重是否為20%以上]是</p>
			<p>[本案評選項目是否包含廠商企業社會責任（CSR）指標]否</p>
			<p>[是否屬特殊採購]否</p>
			<p>[是否已辦理公開閱覽]否</p>
			<p>[是否屬統包]否</p>
			<p>[是否屬共同供應契約採購]否</p>
			<p>[是否屬二以上機關之聯合採購(不適用共同供應契約規定)]否</p>
			<p>[是否應依公共工程專業技師簽證規則實施技師簽證]否</p>
			<p>[是否採行協商措施]否</p>
			<p>[是否適用採購法第104條或105條或招標期限標準第10條或第4條之1]否</p>
			<p>[是否依據採購法第106條第1項第1款辦理]否</p>
			<p>[是否提供電子領標]是</p>
			<p>[機關文件費(機關實收)]100元</p>
			<p>[系統使用費]20元</p>
			<p>[文件代收費]5元</p>
			<p>[總計]125元</p>
			<p>[機關文件費指定收款機關單位]臺北市政府文化局</p>
			<p>[機關文件費指定收款帳戶]臺北市政府文化局其他雜項收入</p>
			<p>[是否提供現場領標]是</p>
			<p>[招標文件領取地點]110臺北市信義區市府路1號4樓西北區臺北市政府文化局秘書室</p>
			<p>[招標文件售價及付款方式]新臺幣200元，至臺北市政府文化局秘書室繳費後領取</p>
			<p>[是否提供電子投標]否</p>
			<p>[截止投標]106/06/07 17:00</p>
			<p>[開標時間]106/06/08 14:00</p>
			<p>[開標地點]110臺北市信義區市府路1號4樓東北區臺北市政府文化局東北區會議室</p>
			<p>[是否須繳納押標金]否</p>
			<p>[投標文字]正體中文</p>
			<p>[收受投標文件地點]110臺北市信義區市府路1號4樓西北區臺北市政府文化局秘書室總收文</p>
			<p>[是否依據採購法第99條]否</p>
			<p>[是否於招標文件載明優先決標予身心障礙福利機構團體或庇護工場]否</p>
			<p>[履約地點]臺北市(非原住民地區)</p>
			<p>[履約期限]自決標日起至106年12月29日止</p>
			<p>[是否刊登公報]否</p>
			<p>[本案採購契約是否採用主管機關訂定之範本]否</p>
			<p>[不採用主管機關訂定之範本之理由]採用臺北市政府訂頒之勞務採購契約範本</p>
			<p>[歸屬計畫類別]非屬愛台十二項計畫</p>
			<p>[廠商資格摘要]</p>
			<p>一詳投標須知第貳節</p>
			<p>二與招標標的有關者：廠商登記或設立證明：僅須任一項符合</p>
			<p>(1)非屬營利事業之法人或團體：</p>
			<p>a.依法核准設立之登記證明文件</p>
			<p>b.章程</p>
			<p>(2)學校:</p>
			<p>a.經其目的事業主管機關核准設立證明文件</p>
			<p>(3)其他業類或其他證明文件：(註：營利事業登記證自98年4月13日起不再作為證明文件)</p>
			<p>a.公司登記證明文件(登記機關核准公司登記之核准函、公司登記表、公司登記證明書、或列印「全國商工行政服務入口網」（網址：http://gcis.nat.gov.tw/main/indexC.jsp)商工登記資料之公司登記資料查詢網站之「公司基本資料」均屬之)或商業登記證明文件(登記機關核准商業登記之核准函、商業登記抄本、商業登記證明書、或列印「全國商工行政服務入口網」（網址：http://gcis.nat.gov.tw/main/indexC.jsp)商工登記資料之商業登記資料查詢網站之「商業登記基本資料」均屬之)</p>
			<p>[是否訂有與履約能力有關之基本資格]是</p>
			<p>[廠商應附具之基本資格證明文件或物品]</p>
			<p>1.廠商信用之證明。</p>
			<p>[附加說明]</p>
			<p>※※※※※</p>
			<p>106年5月25日更正招標文件</p>
			<p>1.  106.5.25更正_04_106A179招標公告</p>
			<p>※※※※※</p>
			<p>一廠商如有本案履約標的相關問題，請聯絡藝術發展科承辦人江佩紋小姐02-27208889分機3607</p>
			<p>二開標日期(106年6月8日 下午14:00)為資格審查，本局於資格標審查完成後通知合格廠商評選會議時間</p>
			<p>三本案預定決標日期為106年9月8日</p>
			<p>四履約保證金：3萬元整</p>
			<p>五投標文件說明：</p>
			<p>(一)人工領標收據或領標電子憑據書面明細</p>
			<p>(二)投標廠商聲明書</p>
			<p>(三)納稅證明</p>
			<p>(四)信用證明(查覆單經塗改或無查覆單位圖章、該單位有權人員及經辦員簽章者無效)</p>
			<p>(五)投標廠商資格條件及應附證明文件請詳投標須知第貳節</p>
			<p>(六)填妥投標書，加蓋廠商及負責人印章或簽署</p>
			<p>(七)切結書</p>
			<p>(八)服務建議書(12份)</p>
			<p>六招標文件自公告日起至截止收件日止08:00-17:00之辦公時間現場領取，或郵購方式請需另附回郵郵資新台幣80元，並請估計郵遞時間</p>
			<p>地點：本局秘書室(臺北市信義區市府路一號四樓西北區)</p>
			<p>工本費：招標文件售價新臺幣200元，先至秘書室出納繳費後領取</p>
			<p>電子領投標：自公告日起至截止收件日止，得經政府採購領標系統網站(網址http://web.pcc.gov.tw/)下載本機關採購招標文件電子檔。如系統無法正常執行時，請洽中華電信數據分公司網路中心</p>
			<p>七投標文件請以掛號郵寄或專人送達或電子投標</p>
			<p>八對招標文件有疑義者，應於106年6月1日前，以書面送達招標機關請求釋疑，疑義處理結果，將於106年6月6日前，以書面答復請求釋疑廠商</p>
			<p>[是否刊登英文公告]否</p>
			<p>[疑義、異議、申訴及檢舉受理單位]</p>
			<p>[疑義、異議受理單位]臺北市政府文化局</p>
			<p>[檢舉受理單位]</p>
			<p>地方政府-臺北市政府採購稽核小組（地址：110臺北市信義區市府路一號三樓西南區、電話：02-27208889分機1052、傳真：02-27239354）</p>
			<p>臺北市調查處（地址：106臺北市大安區基隆路二段176號;臺北市郵政60000號信箱、電話：02-27328888）</p>
			<p>法務部調查局政風室（地址：231新北市新店區中華路74號;新店郵政第7-121號信箱、電話：02-29125852）</p>
			<p>法務部廉政署（地址：100臺北市中正區博愛路166號;台北郵政14-153號信箱、電話：0800286586、傳真：02-23811234）</p>
			<p>中央採購稽核小組（地址：110臺北市信義區松仁路3號9樓、電話：02-87897548、傳真：02-87897554）</p>
			<p>[招標公告傳輸時間]106/05/24 14:43</p>
			<p>註： ◎以上招標公告內容如與招標文件不一致者，請依政府採購法第41條向招標機關反映。</p>
		</div>
		<div class="related_link">
			<i class="fa fa-link" aria-hidden="true"></i> 相關連結：<a href="http://www.moc.gov.tw/">http://www.moc.gov.tw/</a>	
		</div>
		<div class="file_download">
			<i class="fa fa-cloud-download" aria-hidden="true"></i> 檔案下載： <a href="#">公聽會會議記錄</a>
		</div>

	</div>
		
	



</div>








{% endblock %}