{# index.twig #}
{% extends "/_template/layout_insidepage.twig" %}
{% block page %}







<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> > <a href="">公告資訊 </a> > <p>招標公告</p></div>

	<div class="icons">
		<div class="social_media">
			<div class="i_icon fb"><i class="fa fa-facebook" aria-hidden="true"></i></div>
			<div class="i_icon google"><i class="fa fa-google-plus" aria-hidden="true"></i></i></div>
			<div class="i_icon line"><i class="fa fa-commenting-o" aria-hidden="true"></i></div>
			<div class="i_icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i></div>
		</div>
		<div class="function">
			<div class="i_icon download"><i class="fa fa-download" aria-hidden="true"></i></div>
			<div class="i_icon mail"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
			<div class="i_icon print"><i class="fa fa-print" aria-hidden="true"></i></div>
		</div>
		<div class="font">
			<div class="i_icon font_zoom"><i class="fa fa-font" aria-hidden="true"></i> +</div>
			<div class="i_icon font_zoom"><i class="fa fa-font" aria-hidden="true"></i> -</div>
		</div>
	</div>
</div>



<div class="page_w">
<!-- page_tab -->
	<div class="page_tab">
		<div class="aside_menu">
			<ul>
				<li><a href=""><i class="fa fa-list" aria-hidden="true"></i> 招標公告</a></li>
				<li class="onpage"><i class="fa fa-newspaper-o" aria-hidden="true"></i> 新聞稿</li>
				<li><a href=""><i class="fa fa-gavel" aria-hidden="true"></i> 法令政策</a></li>
				<li><a href=""><i class="fa fa-credit-card" aria-hidden="true"></i> 展演空間補助</a></li>
			</ul>
		</div>
	</div>

<!-- page_contnet -->
	<div class="page_contnet">
		<div class="press_detail">

		<div class="goback"> <a href="#"> <i class="fa fa-arrow-left" aria-hidden="true"></i> 回新聞稿頁</a></div>

		<div class="t-title">106A179 [文化臺北―形象影片拍攝計畫]更正招標公告</div>
			<div class="t_date">
				<p>發佈日期:106/05/25</p>
				<p>更新日期:106/05/25</p>
			</div>
		<div class="press_content">
			<p>有關何志偉議員5/23針對北藝中心部分工程施工品質提出質疑部分，文化局先說明此案係廠商理成營造惡性倒閉，北藝興建工程被迫停工之工地，目前狀況並非它原本該有的呈現，但針對議員關切波浪玻璃、隔音牆、防火梯等施工情形，逐一回應說明如下：</p>

			<h6>有關波浪玻璃帷幕部分之說明</h6>
			<p>本案使用之帷幕S型玻璃是可用於結構體的膠合玻璃，每片高約5米寬1.2米。S型玻璃被使用於建物並非首例，葡萄牙的Casa de Musica(2005)、比利時湖畔博物館(MSAMuseum,2011)外觀均可見；甚至台北寒舍艾美也有使用，營造廠商同屬北藝的理成營造。</p>
			<p>北藝中心外牆共使用1287片S型玻璃，已安裝1187片。停工後清查時發現共有45片玻璃出現裂紋需要更換。經公正專業第三公證單位鑑定，其中40片屬搬運及安裝不當之人為因素，另有5片係颱風來襲時，固定防護不良導致玻璃搖晃碰撞破裂，屬理成應改善責任，並將於結算數量中扣除。</p>
			<p>此外，玻璃「自爆」現象僅出現於強化玻璃。本案使用之波浪玻璃為膠合玻璃， 並無所謂「自爆」之可能，特此說明。</p>

			<h6>有關隔音牆工程部分之說明</h6>
			<p>理成已施作之隔音牆數量已完成7成，後續如有需修繕情形發生，將由市府負擔保固費用，並向理成求償，風險已由市府負擔。後續接手的廠商只需對其施作數量負保固責任。</p>
			<p>有關不合格防火漆後續改善部分之說明</p>
			<p>依本府決議，現況室內防火漆已編列足額改善費用，採增加防火被覆或防火板及刮除重做方式處理，增加之費用將向理成求償，接續廠商不需負擔不良防火漆之風險及責任。</p>

			<h6>有關手扶梯生鏽部分之說明</h6>
			<p>為加速復工，本府將先發外牆標，目標為盡速完成外牆與拆架、完成防水斷水，以保護室內已完成工項，復工前已商請關連廠商協助加強保護。本局亦將請工程代辦權責機關捷運局(東工處)協助加強督促工地各項管理事項。</p>
			<p>刻正加速釐清廠商疑慮設計標單</p>
			<p>本案自理成倒閉後即進行工地清查、重新檢討工項、估價與材料訪價，製作新標案。</p>
			<p>因二次流標，本府決議採分標方式辦理，文化局、捷運局及工務局已召開多次招標文件審查會議，針對施工較困難部分進行檢討。之前發包過程不順利原因應為原廠商留下之債務糾紛，降低新廠商投標意願。</p>
			<p>目前本府決議採分段招標，設計監造團隊已提送外牆標招標文件予代辦機關捷運局(東工處)辦理公開閱覽，後續招標如有廠商提出疑慮，將進行檢討。</p>
			<p>本案設計目的為創造台北市國際級之地標建築，並已登上國際各大設計媒體超過170次，設計調整應確保維持原國際級品質，以免完工後品質落差過大，反而造成國際輿論之負面評價。</p>
		</div>
		<div class="related_link">
			<i class="fa fa-link" aria-hidden="true"></i> 相關連結：<a href="http://www.moc.gov.tw/">http://www.moc.gov.tw/</a>
		</div>
		<div class="file_download">
			<i class="fa fa-cloud-download" aria-hidden="true"></i> 檔案下載： <a href="#">公聽會會議記錄</a>
		</div>
	</div>



	</div>

</div>








{% endblock %}