{# index.twig #}
{% extends "/_template/layout_insidepage.twig" %}
{% block page %}




<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> > <a href="">公告資訊 </a> > <p>招標公告</p></div>

	<div class="icons">
		<div class="social_media">
			<div class="i_icon fb"><i class="fa fa-facebook" aria-hidden="true"></i></div>
			<div class="i_icon google"><i class="fa fa-google-plus" aria-hidden="true"></i></i></div>
			<div class="i_icon line"><i class="fa fa-commenting-o" aria-hidden="true"></i></div>
			<div class="i_icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i></div>
		</div>
		<div class="function">
			<div class="i_icon download"><i class="fa fa-download" aria-hidden="true"></i></div>
			<div class="i_icon mail"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
			<div class="i_icon print"><i class="fa fa-print" aria-hidden="true"></i></div>
		</div>
		<div class="font">
			<div class="i_icon font_zoom"><i class="fa fa-font" aria-hidden="true"></i> +</div>
			<div class="i_icon font_zoom"><i class="fa fa-font" aria-hidden="true"></i> -</div>
		</div>
	</div>
</div>



<div class="page_w">

	<!-- page_tab -->
	<div class="page_tab">
		<div class="aside_menu">
			<ul>
				<li><a href=""><i class="fa fa-list" aria-hidden="true"></i> 研究調查報告</a></li>
				<li class="onpage"><i class="fa fa-newspaper-o" aria-hidden="true"></i> 出版品</li>
			</ul>
		</div>
	</div>

	<!-- page_contnet -->
	<div class="page_contnet">
		<div class="notice_list">
			<a href="">
				<div class="list_l">
					<div class="a-date">103年度</div>
					<div class="a-des">臺北流行音樂中心-流行音樂專題書籍出版計畫</div>
				</div>
			</a>			
			<a href="">
				<div class="list_l">
					<div class="a-date">104年度</div>
					<div class="a-des">流行音樂專題書籍出版計畫</div>
				</div>
			</a>		
			<a href="">
				<div class="list_l">
					<div class="a-date">103年度</div>
					<div class="a-des">臺北流行音樂中心-流行音樂專題書籍出版計畫</div>
				</div>
			</a>			
			<a href="">
				<div class="list_l">
					<div class="a-date">104年度</div>
					<div class="a-des">流行音樂專題書籍出版計畫</div>
				</div>
			</a>		
			<a href="">
				<div class="list_l">
					<div class="a-date">103年度</div>
					<div class="a-des">臺北流行音樂中心-流行音樂專題書籍出版計畫</div>
				</div>
			</a>			
			<a href="">
				<div class="list_l">
					<div class="a-date">104年度</div>
					<div class="a-des">流行音樂專題書籍出版計畫</div>
				</div>
			</a>		

		</div>
	</div>


<!-- pages -->
	<div class="pages">
		<a href=""> <i class="fa fa-angle-double-left" aria-hidden="true"></i> </a>
		<a href=""> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
		<a href="" class="mainblue">1</a>
		<a href="">2</a>
		<a href="">3</a>
		<a href="">4</a>
		<a href="">5</a>
		<a href="">6</a>
		<a href=""> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
		<a href=""> <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a>
	</div>

</div>








{% endblock %}