{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}

{% include '_partial/inside_hero.twig' %}

<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> > <p>搜尋結果</p></div>

	{% include '_partial/icons.twig' %}
</div>




<div class="page_w">

	<div class="search_list">
		<a href="">
			<div class="s-list">
				<div class="s-classify">最新消息</div>
				<div class="s-des">文化局10/11~10/13一週藝文活動看板</div>
				<div class="s-period">
					<p>2017-10-11</p>
				</div>
			</div>
		</a>
		<a href="">
			<div class="s-list">
				<div class="s-classify">最新消息</div>
				<div class="s-des">文化局10/11~10/13一週藝文活動看板</div>
				<div class="s-period">
					<p>2017-10-11</p>
				</div>
			</div>
		</a>
		<a href="">
			<div class="s-list">
				<div class="s-classify">最新消息</div>
				<div class="s-des">文化局10/11~10/13一週藝文活動看板</div>
				<div class="s-period">
					<p>2017-10-11</p>
				</div>
			</div>
		</a>
		<a href="">
			<div class="s-list">
				<div class="s-classify">演唱會</div>
				<div class="s-des">2017李榮浩 有理想 世界巡迴演唱會 台北場</div>
				<div class="s-period">
					<p>2017-10-11</p>
				</div>
			</div>
		</a>
		<a href="">
			<div class="s-list">
				<div class="s-classify">常設展</div>
				<div class="s-des">流行音樂演唱會製作人培訓計畫II</div>
				<div class="s-period">
					<p>2017-10-11</p>
				</div>
			</div>
		</a>
		<a href="">
			<div class="s-list">
				<div class="s-classify">常設展</div>
				<div class="s-des">流行音樂演唱會製作人培訓計畫II</div>
				<div class="s-period">
					<p>2017-10-11</p>
				</div>
			</div>
		</a>
		<a href="">
			<div class="s-list">
				<div class="s-classify">展演活動紀錄</div>
				<div class="s-des">台北周末音樂不斷電</div>
				<div class="s-period">
					<p>2017-10-11</p>
				</div>
			</div>
		</a>
		<a href="">
			<div class="s-list">
				<div class="s-classify">展演活動紀錄</div>
				<div class="s-des">台北周末音樂不斷電</div>
				<div class="s-period">
					<p>2017-10-11</p>
				</div>
			</div>
		</a>
	</div>
	<!-- pages -->
	<div class="pages">
		<a href=""> <i class="fa fa-angle-double-left" aria-hidden="true"></i> </a>
		<a href=""> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
		<a href="" class="mainblue">1</a>
		<a href="">2</a>
		<a href="">3</a>
		<a href="">4</a>
		<a href="">5</a>
		<a href="">6</a>
		<a href=""> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
		<a href=""> <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a>
	</div>

</div>








{% endblock %}