{# index.twig #}
{% extends "/_template/layout_insidepage.twig" %}
{% block page %}







<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> > <a href="">公告資訊 </a> > <p>招標公告</p></div>

	<div class="icons">
		<div class="social_media">
			<div class="i_icon fb"><i class="fa fa-facebook" aria-hidden="true"></i></div>
			<div class="i_icon google"><i class="fa fa-google-plus" aria-hidden="true"></i></i></div>
			<div class="i_icon line"><i class="fa fa-commenting-o" aria-hidden="true"></i></div>
			<div class="i_icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i></div>
		</div>
		<div class="function">
			<div class="i_icon download"><i class="fa fa-download" aria-hidden="true"></i></div>
			<div class="i_icon mail"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
			<div class="i_icon print"><i class="fa fa-print" aria-hidden="true"></i></div>
		</div>
		<div class="font">
			<div class="i_icon font_zoom"><i class="fa fa-font" aria-hidden="true"></i> +</div>
			<div class="i_icon font_zoom"><i class="fa fa-font" aria-hidden="true"></i> -</div>
		</div>
	</div>
</div>



<div class="show_wrapper">
	<div class="show_detail_page">

		<div class="show_species">
			<div class="species"><i class="fa fa-microphone" aria-hidden="true"></i> 演唱會</div>
			<div class="species"><i class="fa fa-comments" aria-hidden="true"></i> 講座</div>
		</div>

		<div class="performance_info">
			<div class="t-title">
				盧廣仲 2017 春季巡迴故鄉站 LIVE IN 台南 
			</div>
			<div class="performance_ticket">
				<div class="ticket_t">2017/10/14 (六)</div>
				<div class="ticket_species">
					<p>成人票：1200 元</p>	
					<p>成人票：1200 元</p>	
					<p>老人票：1200 元</p>	
					<p>早鳥票：1200 元</p>	
				</div>
			</div>
			<div class="performance_summary">
				<p>演出日期：2017/10/13 (五)、2017/10/14 (六)</p>
				<p>入場時間：19:00</p>
				<p>演出時間：19:30</p>
				<p>演出地點：台南文化中心</p>
				<p>演出地址：台南市東區中華東路三段332號</p>
				<p>啟售時間：2017/9/5  (二) 中午12點 添翼音樂註冊會員優先購票/僅限KKTIX網站</p>
				<p>2017/9/7  (四) 中午12點 全面啟售/KKTIX及全台全家便利商店</p>
				<p>購票方式：KKTIX及全台全家便利商店Famiport</p>
			</div>
		</div>

		<div class="performance_description">
			<img src="img/tainan.jpg" alt="">
			<p>南柱赫即將舉辦他的粉絲見面會“NAM JOO HYUK Private Stage[CLOSE-UP]"。亞洲巡迴將於9/16號在曼谷、馬尼拉、台北等地開始。此場見面會售票由ＫＫＴＩＸ以及全台全家機台開賣，首次抵台舉辦見面會給了粉絲們滿滿福利，Ａ區可以跟男神近距離擊掌 還有男神親筆簽名海報要送給幸運的粉絲。</p>
			<p>南柱赫近期的戲劇是將原著漫畫發生在古代的故事搬到了現代，講述水國之王─水神河伯意外來到人間，找上了注定世代作為神僕的尹素兒，讓她原本平靜的生活雞飛狗跳。從第一集的全裸入鏡，男女主角上演親吻戲碼，到吊著鋼索，從二層樓的高度以倒吊的方式快速降落營救下墜的女主角，到第十集的劇情以“躺咚”讓女主角臉紅心跳的橋段，河伯每集撩妹神力不斷提升。</p>
			<p>YG計畫將會呈現不同以往的表演，粉絲能看到南柱赫不同於劇中的面貌以及真實的人生故事。而他接下來將進攻大銀幕，演出電影《安市城》，與資深演員趙寅成、AOA成員雪炫一同飆演技。</p>
			<p>Nam Joo Hyuk Private Stage Close-Up In Taipei於10/8在台北國際會議中心（Ticc）舉辦，而這也是他出道以來在臺灣首次與粉絲有近距離見面的機會。他本人得知即將來台舉辦個人見面會難掩興奮，親自錄了一段問候影片要給台灣的粉絲們，看完男神的問候後，就讓我們期待水神來台掃蕩大家們的心吧！！</p>
			<p>南柱赫自2013年出道以來，演出的作品眾多，如韓劇《剩餘公主》BIG（朴大發）一角，接者又與金所炫、陸星材一起合演《Who Are You-學校2015》備受關注，透過《奶酪陷阱》、《步步驚心：麗》和《舉重妖精金福珠》等多部不同角色的作品受到了很多人的喜愛，也讓更多人看見他戲劇作品上的表現。目前他主演的韓劇《河伯的新娘》目前於KKTV熱烈跟播中，每週二、三更新。</p>
		
		</div>


	<div class="clear"></div>
	</div>
</div>


<div class="show_wrapper">
	<div class="others_show">
		<div class="t-title">其他演出資訊</div>
		<section class="moreShow slider">
			<div class="moreShow_photo">
			    <img src="img/show_01.jpg"> 
			    <h6>2018/03/18</h6>
			    <p>VIANNEY 2017台北演唱會</p>
		    </div>
		   	<div class="moreShow_photo">
			    <img src="img/show_02.jpg"> 
			    <h6>2018/03/18</h6>
			    <p>VIANNEY 2017台北演唱會</p>
		    </div>
		   	<div class="moreShow_photo">
			    <img src="img/show_03.jpg"> 
			    <h6>2018/03/18</h6>
			    <p>VIANNEY 2017台北演唱會</p>
		    </div>
		   	<div class="moreShow_photo">
			    <img src="img/show_04.jpg"> 
			    <h6>2018/03/18</h6>
			    <p>VIANNEY 2017台北演唱會</p>
		    </div>
		   	<div class="moreShow_photo">
			    <img src="img/show_05.jpg"> 
			    <h6>2018/03/18</h6>
			    <p>VIANNEY 2017台北演唱會</p>
		    </div>
		   	<div class="moreShow_photo">
			    <img src="img/show_06.jpg"> 
			    <h6>2018/03/18</h6>
			    <p>VIANNEY 2017台北演唱會</p>
		    </div>
		   	
		   
		</section>
	</div>
</div>




{% endblock %}