{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}







{% include '_partial/inside_hero.twig' %}
<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> > <a href="">公告資訊 </a> > <p>招標公告</p></div>

	{% include '_partial/icons.twig' %}
</div>



<div class="page_w">
<!-- page_tab -->
	<div class="page_tab">
		<div class="aside_menu">
			<ul>
				<li><a href=""><i class="fa fa-list" aria-hidden="true"></i> 招標公告</a></li>
				<li><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 新聞稿</a></li>
				<li class="onpage"><i class="fa fa-gavel" aria-hidden="true"></i> 法令政策</li>
				<li><a href=""><i class="fa fa-credit-card" aria-hidden="true"></i> 展演空間補助</a></li>
			</ul>
		</div>
	</div>

<!-- page_contnet -->
	<div class="page_contnet">
		<div class="press_detail">

<!-- 		<div class="goback"> <a href="#"> <i class="fa fa-arrow-left" aria-hidden="true"></i> 回新聞稿頁</a></div>
 -->
		<div class="t-title">法令政策</div>
			<!-- <div class="t_date">
				<p>發佈日期:106/05/25</p>
				<p>更新日期:106/05/25</p>
			</div> -->
		<div class="press_content">
			<p>臺北市政府文化局流行音樂產業推動委員會作業要點</p>
			<p>文化創意產業發展法</p>


		</div>


	</div>



	</div>

</div>








{% endblock %}