{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}

{% include '_partial/inside_hero.twig' %}
<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> >  <p>網站導覽 </p></div>

	{% include '_partial/icons.twig' %}
</div>




<div class="page_w">

	<!-- notice_tab -->
	<div class="page_tab">
		<div class="aside_menu">
			<ul>
				<li class="onpage"><i class="fa fa-newspaper-o" aria-hidden="true"></i> 網站導覽</li>
			</ul>
		</div>
	</div>


	<!-- page_contnet -->
	<div class="page_contnet">

		<div class="about_detail">
			<div class="t-title">網站導覽內容</div>
				
			<div class="about_content">
				<p>本網站依無障礙網頁設計原則建置，網站的主要內容分為四大區塊： 1. 上方功能區塊、2. 左方導覽區塊、3. 中央內容區塊、4.右方相關連結區塊。</p>
				<p>註：IE流覽器快速鍵請搭配Alt鍵使用; Firefox的快速鍵請搭配使用SHIFT鍵+ Alt鍵，快速鍵（快捷鍵，熱鍵）：提供在不使用或不能使用滑鼠操作網頁的環境，也能快速操作網頁。</p>
				<p>本網站的快速鍵﹝Accesskey﹞設定如下：</p>
				<p>Alt+U：上方導覽連結區，此區塊列有本網站的主要連結。</p>
				<p>Alt+C：中間主要內容區，此區塊呈現各網頁的網頁內容。</p>
				<p>Alt+L：網頁主要選單區，此區塊包括本頁的主要單元連結。</p>
				<p>Alt+S：針對本網站內容關鍵字搜尋。</p>
				<p>Alt+R：網頁右方圖像連結區，此區塊呈現橫幅的連結列表。</p>
				
				<div class="lil"></div>

				<h6>1.參觀服務</h6>
				<a href="">1-1開放時間</a>
				<a href="">1-2交通與停車</a>
				<a href="">1-3票價資訊</a>
				<a href="">1-4全區地圖</a> 

				<div class="lil"></div>

				<h6>2.關於北流</h6>
				<a href="">2-1北流簡介</a>
				<a href="">2-2表演廳</a>
				<a href="">2-3流行音樂文化館</a>
				<a href="">2-4產業區</a>
				<a href="">2-5戶外展演區</a>
				<a href="">2-6北流大事紀</a>

				<div class="lil"></div>

				<h6>3.展演活動</h6>
				<a href="">3-1常設展</a>
				<a href="">3-2特展</a>
				<a href="">3-3演唱會</a>
				<a href="">3-4活動及講座</a>
				<a href="">3-5展演活動紀錄</a>

				<div class="lil"></div>

				<h6>4.最新消息</h6>
				<a href="">4-1最新消息</a>

				<div class="lil"></div>

				<h6>5.相關資源</h6>
				<a href="">5-1流行音樂資料庫暨資深音樂人口述歷史</a>
				<a href="">5-2 Live House音樂展演空間共享平台</a>
				<a href="">5-3研究調查報告</a>
				<a href="">5-4出版品</a>


			</div>

			
			
		</div>
	</div>


</div>








{% endblock %}