{# index.twig #}
{% extends "/_template/layout.twig" %}



{% block page %}


{% include '_partial/inside_hero.twig' %}

<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> > <a href="">公告資訊 </a> > <p>招標公告</p></div>

	{% include '_partial/icons.twig' %}

</div>



<div class="page_w">

	<!-- notice_tab -->
	<div class="page_tab">
		<div class="aside_menu">
			<ul>
				<li> <a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 開放時間</a></li>
				<li class="onpage"><i class="fa fa-newspaper-o" aria-hidden="true"></i> 交通與停車</li>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 票價資訊</a></li>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 餐飲及商店</a></li>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 全區地圖</a></li>
			</ul>
		</div>
	</div>


	<!-- page_contnet -->
	<div class="page_contnet">

			<div class="visit_detail">
			<div class="t-title">交通與停車</div>
				
			<div class="visit_content">
				<img src="img/map.jpg" alt="">
				<p>北部流行音樂中心西側臨捷運昆陽站（距離約200公尺），東側接近捷運、台鐵、高鐵等三鐵共構之南港車站（距離約300公尺）。</p>

				<h6>搭捷運</h6>
				<p>搭乘捷運板南線至昆陽站4號出口，步行約5分鐘。</p>
				
				<h6>搭高鐵或火車</h6>
				<p>搭乘高鐵或火車至南港車站，步行約13分鐘。</p>
				

				<h6>搭公車</h6>
				<p>「市民大道8段」站：小12、小12區</p>
				<p>「南港機廠」站：212區、212夜、212直、270、270區、信義幹線、藍25、藍51</p>
				<p>「南港高中」站：212、240、279、281、284、284直、551、信義新幹線、小1區、小3、小3區、小5、小5區、市民小巴15、忠孝新幹線、藍20區、藍36、藍50</p>
				<p>「東明里」站：203、205、212、276、281、306、306區、551、605、605、新台五、668、679、711、小12、小12區、小1區、小5、小5區、忠孝新幹線</p>
				<p>「捷運南港」站：市民小巴6、棕19</p>

			</div>

			
			
		</div>

		{% include '_partial/icons.twig' %}

	</div>

</div>








{% endblock %}