{# index.twig #}
{% extends "/_template/layout.twig" %}



{% block page %}


{% include '_partial/inside_hero.twig' %}

<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> > <a href="">公告資訊 </a> > <p>招標公告</p></div>

	{% include '_partial/icons.twig' %}

</div>



<div class="page_w">

	<!-- notice_tab -->
	<div class="page_tab">
		<div class="aside_menu">
			<ul>
				<li class="onpage"> <i class="fa fa-newspaper-o" aria-hidden="true"></i> 開放時間</li>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 交通與停車</a></li>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 票價資訊</a></li>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 餐飲及商店</a></li>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 全區地圖</a></li>
			</ul>
		</div>
	</div>


	<!-- page_contnet -->
	<div class="page_contnet">

			<div class="visit_detail">
			<div class="t-title">2017臺北藝術節早鳥限時優惠 </div>
				<div class="t_date">
					<p>早鳥期間為即日起~6/20(二)，限時優惠75折。 </p>
					<p>臺北藝術節活動期間：8/7(一)~9/17(日) </p>
				</div>
			<div class="news_content">

				<p>2017第十九屆臺北藝術節以「城市，及其未來」為策展方向，</p>
				<p>邀請來自德國、法國、日本、英國、中國、美國和寮國等地的藝術家，</p>
				<p>以及臺灣優秀創作者，11檔節目從社會、國家、城市、族群等多元角度切入，</p>
				<p>轉化藝術家眼中或想像中的城市。</p>
				<p>www.taipeifestival.org/ 02-2528-9580轉191-199</p>
			</div>

			<div class="related_link">
				<i class="fa fa-link" aria-hidden="true"></i> 相關連結：<a href="http://www.moc.gov.tw/">http://www.moc.gov.tw/</a>
			</div>
			<div class="file_download">
				<i class="fa fa-cloud-download" aria-hidden="true"></i> 檔案下載： <a href="#">2017臺北藝術節早鳥限時優惠 </a>
			</div>
		</div>

		{% include '_partial/icons.twig' %}

	</div>

</div>








{% endblock %}