{# index.twig #}
{% extends "/_template/layout.twig" %}



{% block page %}


{% include '_partial/inside_hero.twig' %}

<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> > <a href="">公告資訊 </a> > <p>招標公告</p></div>

	{% include '_partial/icons.twig' %}

</div>



<div class="page_w">

	<!-- notice_tab -->
	<div class="page_tab">
		<div class="aside_menu">
			<ul>
				<li> <a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 開放時間</a></li>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 交通與停車</a></li>
				<li class="onpage"><i class="fa fa-newspaper-o" aria-hidden="true"></i> 票價資訊</li>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 餐飲及商店</a></li>
				<li ><a href=""><i class="fa fa-newspaper-o" aria-hidden="true"></i> 全區地圖</a></li>
			</ul>
		</div>
	</div>


	<!-- page_contnet -->
	<div class="page_contnet">

			<div class="visit_detail">
			<div class="t-title">票價資訊</div>
				
			<div class="visit_content">

				<p>表演廳及產業館之票價，詳各展演活動說明。</p>
				<p>購買優待票或免票入場者，應出示得證明其身分之相關證件，方得享受優惠。</p>
				<p>請勿自行撕除入場聯，以免無法入場觀展。</p>
				<p>票券若因遺失、破損、燒毀等因素，導致無法辨識，恕不補發、退換，請務必妥善保管。</p>
				<div class="div_talbe">
					<table>
						<tr>
							<th colspan="4">流行音樂文化館</th>
							
						</tr>
						<tr>
							<td width="20%">票種類別</td>
							<td width="20%">購票方式</td>
							<td width="30%">票價(新臺幣/元)</td>
							<td width="30%">適用對象</td>
						</tr>
						<tr>
							<td>全票</td>
							<td>悠遊卡、現金</td>
							<td>NT$100</td>
							<td>十八歲以上之一般民眾。</td>
						</tr>
						<tr>
							<td>優待票</td>
							<td>悠遊卡、現金</td>
							<td>NT$100</td>
							<td>1.十八歲以上在校學生及國外學生。 <br>
								2.軍警人員。<br>
								3.持有教育文化機構義工/志工證者。
							</td>
						</tr>
						<tr>
							<td>團體票</td>
							<td>悠遊卡、現金</td>
							<td>依票面價格七折優待</td>
							<td>團體人數二十人以上。</td>
						</tr>
					</table>		
				</div>
				<h6>免費入場</h6>
				<p>1.未滿十八歲之民眾。</p>
				<p>2.六十五歲以上之民眾。</p>
				<p>3.設籍臺北市五十五歲以上至六十四歲之原住民長者(憑敬老悠遊卡或戶口名簿等相關證明)。</p>
				<p>4.身心障礙者及其監護人或必要之陪伴者一人。</p>
				<p>5.持有臺北市低收入戶證明者。</p>
				<p>6.持有國際博物館學會（ICOM）、美國博物館學會（AAM）或中華民國博物館學會會員證者。</p>
				<p>7.持有「志願服務榮譽卡」之志工(含臺北市熱心公益卡志工、義交、義警、義消及民防人員)。</p>
				<p>8.帶團參觀並持有交通部觀光局核發之導遊證者。</p>
				<p>9.臺北市公私立各級學校或大專院校音樂相關科系之校外教學或學術交流，向本館申請預約並經核准者。</p>
				<p>10.各級政府機關/構或藝文相關團體舉辦音樂相關活動，向本館申請預約並經核准者。</p>
				<p>11.臺北市各區民眾組團十人以上，經由區公所向本館申請預約並經核准者。</p>
				<p>12.本館佈卸展期間、館慶活動、美術節、國際博物館日或其他美術活動相關之特殊節日，本館得公告免票參觀。</p>

			</div>

			
		</div>

		{% include '_partial/icons.twig' %}

	</div>

</div>








{% endblock %}