*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  height: auto; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px; }

a {
  text-decoration: none; }

@media (min-width: 0px) {
  .two_column_section {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .two_column_section:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .two_column_section {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .two_column_section:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .two_column_section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; }
  .two_column_section:after {
    content: " ";
    display: block;
    clear: both; }
  .two_column_section .news_info {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .two_column_section .news_info .t-title {
    font-size: 26px;
    color: #696969;
    margin-bottom: 10px; }
  .two_column_section .news_info .t-title img {
    margin-right: 8px; }
  .two_column_section .news_info .news_list {
    border-top: 1px solid #50E3C2;
    border-bottom: 2px solid #50E3C2;
    padding-top: 20px; }
  .two_column_section .news_info .news_list .news_row {
    margin-bottom: 25px;
    transition: all .3s; }
  .two_column_section .news_info .news_list .news_row h6 {
    font-size: 16px;
    color: #222;
    margin-bottom: 8px; }
  .two_column_section .news_info .news_list .news_row p {
    font-size: 14px; }
  .two_column_section .news_info .news_list .news_row:hover h6 {
    color: #111; }
  .two_column_section .news_info .news_list .news_row:hover p {
    color: #111; }
  .two_column_section .news_info .news_list .more {
    display: block;
    padding: 5px 25px;
    margin-top: -15px;
    border-radius: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #50E3C2;
    color: #FFF;
    font-size: 14px;
    float: right; }
  .two_column_section .record_video {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .two_column_section .record_video .t-title {
    font-size: 26px;
    color: #696969;
    margin-bottom: 10px; }
  .two_column_section .record_video .t-title img {
    margin-right: 8px; }
  .two_column_section .record_video .t-title a {
    color: #696969; }
  .two_column_section .record_video .video_inside {
    height: 420px; }
  .two_column_section .record_video .video_inside iframe {
    width: 100%;
    height: 420px; }
  .two_column_section .slider_ad {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .two_column_section .slider_ad .ad_slider {
    height: 341px; }
  .two_column_section .display_space {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; } }

.show_event_wrapper {
  background: url("../img/slashline.png");
  background-repeat: repeat-x;
  margin-top: 60px;
  margin-bottom: 40px; }

@media (min-width: 0px) {
  .show_event {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .show_event:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .show_event {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .show_event:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .show_event {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    height: 500px;
    padding-top: 80px; }
  .show_event:after {
    content: " ";
    display: block;
    clear: both; }
  .show_event .show_tab {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #CECECE;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-bottom: 20px; }
  .show_event .show_tab .show_filter {
    margin-right: 40px;
    font-size: 18px;
    cursor: pointer; }
  .show_event .show_content .show_list {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .show_event .show_content .show_list .show_gogo {
    border-bottom: 1px solid #CECECE;
    margin-bottom: 12px; }
  .show_event .show_content .show_list .show_gogo h6 {
    font-size: 20px;
    color: #594460;
    margin-bottom: 2px; }
  .show_event .show_content .show_list .show_gogo p {
    font-size: 15px;
    color: #888;
    margin-bottom: 5px; }
  .show_event .show_content .show_list .show_more {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #222;
    color: #FFF;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px; }
  .show_event .show_content .show_block {
    width: 73.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .show_event .show_content .show_block .show_detail {
    width: 31.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    margin-bottom: 20px;
    position: relative;
    transition: all .3s;
    overflow: hidden; }
  .show_event .show_content .show_block .show_detail img {
    display: block; }
  .show_event .show_content .show_block .show_detail .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    background: transparent;
    bottom: -100%;
    left: 0;
    transition: all .3s; }
  .show_event .show_content .show_block .show_detail:hover .mask {
    bottom: -50%;
    left: 0;
    background: rgba(0, 0, 0, 0.8); } }

.activity {
  background-color: #23ABBC;
  color: #FFF;
  padding: 2px 25px;
  border-radius: 20px; }

@media (min-width: 0px) {
  .performance_hall {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .performance_hall:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .performance_hall {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .performance_hall:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .performance_hall {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    margin-bottom: 50px; }
  .performance_hall:after {
    content: " ";
    display: block;
    clear: both; }
  .performance_hall .hall_left {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .performance_hall .hall_left .hall-l {
    position: relative;
    width: 100%; }
  .performance_hall .hall_left .hall-l img {
    display: block;
    width: 100%; }
  .performance_hall .hall_left .hall-l .t-des {
    position: absolute;
    top: 0;
    padding: 20px; }
  .performance_hall .hall_left .hall-l .t-des h6 {
    font-size: 20px;
    color: #FFF;
    font-weight: 700; }
  .performance_hall .hall_left .hall-l .t-des p {
    color: #FFF;
    font-size: 14px; }
  .performance_hall .hall_right {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .performance_hall .hall_right .hall-s {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    background-color: #718; }
  .performance_hall .hall_right .hall-s img {
    display: block; }
  .performance_hall .hall_right .hall-s .t-des {
    position: absolute;
    bottom: 0px;
    padding: 20px;
    background: rgba(100, 143, 150, 0.8); }
  .performance_hall .hall_right .hall-s .t-des h6 {
    font-size: 20px;
    color: #FFF;
    font-weight: 700; }
  .performance_hall .hall_right .hall-s .t-des p {
    color: #FFF;
    font-size: 14px; } }

@media (min-width: 0px) {
  .show_schedule {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .show_schedule:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .show_schedule {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .show_schedule:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .show_schedule {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 30px; }
  .show_schedule:after {
    content: " ";
    display: block;
    clear: both; }
  .show_schedule .date_list {
    width: 100%;
    margin-top: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .show_schedule .date_list .date_unit {
    width: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: #eee;
    transition: all .2s; }
  .show_schedule .date_list .date_unit .week {
    width: 50px;
    height: 25px;
    font-size: 11px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #FFF; }
  .show_schedule .date_list .date_unit .date {
    width: 50px;
    height: 30px;
    font-size: 11px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #FFF; }
  .show_schedule .date_list .date_unit:hover {
    transform: scale(1.2); } }

.weeked {
  color: #910 !important; }

.haveshow {
  background: #9EE0EF !important; }

@media (min-width: 0px) {
  .two_column_section {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .two_column_section:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .two_column_section {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .two_column_section:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .two_column_section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; }
  .two_column_section:after {
    content: " ";
    display: block;
    clear: both; }
  .two_column_section .news_info {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .two_column_section .news_info .t-title {
    font-size: 26px;
    color: #696969;
    margin-bottom: 10px; }
  .two_column_section .news_info .t-title img {
    margin-right: 8px; }
  .two_column_section .news_info .news_list {
    border-top: 1px solid #50E3C2;
    border-bottom: 2px solid #50E3C2;
    padding-top: 20px; }
  .two_column_section .news_info .news_list .news_row {
    margin-bottom: 25px;
    transition: all .3s; }
  .two_column_section .news_info .news_list .news_row h6 {
    font-size: 16px;
    color: #222;
    margin-bottom: 8px; }
  .two_column_section .news_info .news_list .news_row p {
    font-size: 14px; }
  .two_column_section .news_info .news_list .news_row:hover h6 {
    color: #111; }
  .two_column_section .news_info .news_list .news_row:hover p {
    color: #111; }
  .two_column_section .news_info .news_list .more {
    display: block;
    padding: 5px 25px;
    margin-top: -15px;
    border-radius: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #50E3C2;
    color: #FFF;
    font-size: 14px;
    float: right; }
  .two_column_section .record_video {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .two_column_section .record_video .t-title {
    font-size: 26px;
    color: #696969;
    margin-bottom: 10px; }
  .two_column_section .record_video .t-title img {
    margin-right: 8px; }
  .two_column_section .record_video .t-title a {
    color: #696969; }
  .two_column_section .record_video .video_inside {
    height: 420px; }
  .two_column_section .record_video .video_inside iframe {
    width: 100%;
    height: 420px; }
  .two_column_section .slider_ad {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .two_column_section .slider_ad .ad_slider {
    height: 341px; }
  .two_column_section .display_space {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; } }

.show_event_wrapper {
  background: url("../img/slashline.png");
  background-repeat: repeat-x;
  margin-top: 60px;
  margin-bottom: 40px; }

@media (min-width: 0px) {
  .show_event {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .show_event:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .show_event {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .show_event:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .show_event {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    height: 500px;
    padding-top: 80px; }
  .show_event:after {
    content: " ";
    display: block;
    clear: both; }
  .show_event .show_tab {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #CECECE;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-bottom: 20px; }
  .show_event .show_tab .show_filter {
    margin-right: 40px;
    font-size: 18px;
    cursor: pointer; }
  .show_event .show_content .show_list {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .show_event .show_content .show_list .show_gogo {
    border-bottom: 1px solid #CECECE;
    margin-bottom: 12px; }
  .show_event .show_content .show_list .show_gogo h6 {
    font-size: 20px;
    color: #594460;
    margin-bottom: 2px; }
  .show_event .show_content .show_list .show_gogo p {
    font-size: 15px;
    color: #888;
    margin-bottom: 5px; }
  .show_event .show_content .show_list .show_more {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #222;
    color: #FFF;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px; }
  .show_event .show_content .show_block {
    width: 73.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .show_event .show_content .show_block .show_detail {
    width: 31.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    margin-bottom: 20px;
    position: relative;
    transition: all .3s;
    overflow: hidden; }
  .show_event .show_content .show_block .show_detail img {
    display: block; }
  .show_event .show_content .show_block .show_detail .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    background: transparent;
    bottom: -100%;
    left: 0;
    transition: all .3s; }
  .show_event .show_content .show_block .show_detail:hover .mask {
    bottom: -50%;
    left: 0;
    background: rgba(0, 0, 0, 0.8); } }

.activity {
  background-color: #23ABBC;
  color: #FFF;
  padding: 2px 25px;
  border-radius: 20px; }

@media (min-width: 0px) {
  .performance_hall {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .performance_hall:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .performance_hall {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .performance_hall:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .performance_hall {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    margin-bottom: 50px; }
  .performance_hall:after {
    content: " ";
    display: block;
    clear: both; }
  .performance_hall .hall_left {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .performance_hall .hall_left .hall-l {
    position: relative;
    width: 100%; }
  .performance_hall .hall_left .hall-l img {
    display: block;
    width: 100%; }
  .performance_hall .hall_left .hall-l .t-des {
    position: absolute;
    top: 0;
    padding: 20px; }
  .performance_hall .hall_left .hall-l .t-des h6 {
    font-size: 20px;
    color: #FFF;
    font-weight: 700; }
  .performance_hall .hall_left .hall-l .t-des p {
    color: #FFF;
    font-size: 14px; }
  .performance_hall .hall_right {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .performance_hall .hall_right .hall-s {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    background-color: #718; }
  .performance_hall .hall_right .hall-s img {
    display: block; }
  .performance_hall .hall_right .hall-s .t-des {
    position: absolute;
    bottom: 0px;
    padding: 20px;
    background: rgba(100, 143, 150, 0.8); }
  .performance_hall .hall_right .hall-s .t-des h6 {
    font-size: 20px;
    color: #FFF;
    font-weight: 700; }
  .performance_hall .hall_right .hall-s .t-des p {
    color: #FFF;
    font-size: 14px; } }

@media (min-width: 0px) {
  .show_schedule {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .show_schedule:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .show_schedule {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .show_schedule:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .show_schedule {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 30px; }
  .show_schedule:after {
    content: " ";
    display: block;
    clear: both; }
  .show_schedule .date_list {
    width: 100%;
    margin-top: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .show_schedule .date_list .date_unit {
    width: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: #eee;
    transition: all .2s; }
  .show_schedule .date_list .date_unit .week {
    width: 50px;
    height: 25px;
    font-size: 11px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #FFF; }
  .show_schedule .date_list .date_unit .date {
    width: 50px;
    height: 30px;
    font-size: 11px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #FFF; }
  .show_schedule .date_list .date_unit:hover {
    transform: scale(1.2); } }

.weeked {
  color: #910 !important; }

.haveshow {
  background: #9EE0EF !important; }

body {
  font-family: Microsoft JhengHei;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  line-height: 1.5; }

p, h6, h5, h4, h3, h2 {
  line-height: 1.5;
  font: 14px;
  color: #696969; }

.clear {
  clear: both; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.top_header {
  background: #017285;
  height: 40px; }

@media (min-width: 0px) {
  .top_header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .top_header:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .top_header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .top_header:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .top_header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .top_header:after {
    content: " ";
    display: block;
    clear: both; }
  .top_header .top_header_menu .lil {
    height: 14px;
    width: 1px;
    background-color: #FFF;
    margin: 0 10px; }
  .top_header .top_header_menu .magnifier {
    width: 40px;
    height: 40px;
    background-color: #222;
    margin-left: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
    transition: all .2s; }
  .top_header .top_header_menu .magnifier input[type="text"] {
    display: none;
    width: 0px;
    height: 30px;
    margin-right: 10px;
    background: #222;
    border: none;
    border-bottom: 1px solid #444;
    outline: none;
    padding: 0 20px;
    color: #FFF; }
  .top_header .top_header_menu .magnifier .filter_radio {
    display: none;
    color: #FFF;
    font-size: 13px;
    margin-right: 15px; }
  .top_header .top_header_menu .magnifier .filter_radio input[type="radio"] {
    margin-right: 5px; }
  .top_header .top_header_menu .magnifier .search_btn {
    width: 40px;
    height: 40px;
    background-color: #185762;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    transition: all .2s; }
  .top_header .top_header_menu .magnifier .search_btn i {
    color: #FFF; }
  .top_header .top_header_menu ul {
    height: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .top_header .top_header_menu ul li a {
    display: block;
    color: #FFF;
    font-size: 13px; } }

.w_flexible {
  width: 540px !important; }

.w_flexible input[type="text"] {
  display: block !important;
  width: 220px !important; }

.w_flexible .filter_radio {
  display: block !important; }

.slick-dots {
  bottom: 15px !important; }

@media (min-width: 0px) {
  .main_image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .main_image:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .main_image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .main_image:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .main_image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    position: relative; }
  .main_image:after {
    content: " ";
    display: block;
    clear: both; }
  .main_image .main_slider .new_photo {
    width: 100%; }
  .main_image .main_slider .new_photo img {
    width: 100%; }
  .main_image .logo {
    position: absolute;
    width: 250px;
    left: 30px;
    top: 20px;
    z-index: 1100; }
  .main_image .deskmenu {
    position: absolute;
    width: 900px;
    height: 50px;
    z-index: 1000;
    right: 40px;
    top: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .main_image .deskmenu ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .main_image .deskmenu ul li {
    position: relative; }
  .main_image .deskmenu ul li a {
    display: block;
    height: 50px;
    color: #005968;
    padding: 0 25px;
    font-size: 18px;
    font-weight: 500;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .main_image .deskmenu ul li a:hover {
    color: #222; }
  .main_image .deskmenu ul li ul {
    position: absolute;
    display: block;
    width: 140px;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    top: 45px;
    left: 0px;
    transition: all .3s; }
  .main_image .deskmenu ul li ul a {
    display: block;
    height: auto;
    width: 140px;
    color: #c0c0c0;
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #666;
    line-height: 1.5;
    font-size: 13px;
    padding: 10px 0;
    text-align: center;
    transition: all .3s; }
  .main_image .deskmenu ul li ul a:hover {
    color: #FFF; }
  .main_image .deskmenu ul li:hover ul {
    visibility: visible;
    opacity: 1; } }

.footer_wrapper {
  width: 100%;
  background: url("../img/footer_bg.jpg");
  height: 500px;
  background-size: cover;
  padding: 50px 0; }

@media (min-width: 0px) {
  footer {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  footer:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  footer {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  footer:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px; }
  footer:after {
    content: " ";
    display: block;
    clear: both; }
  footer .links_right .links_s {
    width: 12.5%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    margin-bottom: 20px; }
  footer .links_right .links_s h6 {
    color: #FFF;
    margin-bottom: 20px; }
  footer .links_right .links_s a {
    display: block;
    color: #eee;
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 10px; }
  footer .links_right .links_us {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  footer .links_right .links_us h6 {
    color: #00a3e4;
    margin-bottom: 20px; }
  footer .links_right .links_us p {
    color: #FFF;
    font-size: 12px; }
  footer .links_right .links_us a {
    display: block;
    color: #FFF;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 10px; }
  footer .links_right .copyright {
    width: 73.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  footer .links_right .copyright .gov {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  footer .links_right .copyright .gov img {
    margin-top: 20px;
    margin-right: 20px; }
  footer .links_right .copyright p {
    color: #FFF;
    font-size: 12px; }
  footer .links_right .culture_dep {
    width: 23.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    height: 150px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: end;
    align-items: flex-end; }
  footer .links_right .culture_dep .lan {
    display: block;
    width: 60%;
    border: 1px solid #aebfbf;
    margin-bottom: 20px; }
  footer .links_right .culture_dep .lan select {
    display: block;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    font-size: 13px;
    color: #FFF;
    background: transparent;
    border-radius: 0;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none; } }
