*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  height: auto; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px; }

a {
  text-decoration: none; }

@media (min-width: 0px) {
  .two_column_section {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .two_column_section:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .two_column_section {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .two_column_section:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .two_column_section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; }
  .two_column_section:after {
    content: " ";
    display: block;
    clear: both; }
  .two_column_section .news_info {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .two_column_section .news_info .t-title {
    font-size: 26px;
    color: #696969;
    margin-bottom: 10px; }
  .two_column_section .news_info .t-title img {
    margin-right: 8px; }
  .two_column_section .news_info .news_list {
    border-top: 1px solid #50E3C2;
    border-bottom: 2px solid #50E3C2;
    padding-top: 20px; }
  .two_column_section .news_info .news_list .news_row {
    margin-bottom: 25px;
    transition: all .3s; }
  .two_column_section .news_info .news_list .news_row h6 {
    font-size: 16px;
    color: #222;
    margin-bottom: 8px; }
  .two_column_section .news_info .news_list .news_row p {
    font-size: 14px; }
  .two_column_section .news_info .news_list .news_row:hover h6 {
    color: #111; }
  .two_column_section .news_info .news_list .news_row:hover p {
    color: #111; }
  .two_column_section .news_info .news_list .more {
    display: block;
    padding: 5px 25px;
    margin-top: -15px;
    border-radius: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #50E3C2;
    color: #FFF;
    font-size: 14px;
    float: right; }
  .two_column_section .record_video {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .two_column_section .record_video .t-title {
    font-size: 26px;
    color: #696969;
    margin-bottom: 10px; }
  .two_column_section .record_video .t-title img {
    margin-right: 8px; }
  .two_column_section .record_video .t-title a {
    color: #696969; }
  .two_column_section .record_video .video_inside {
    height: 420px; }
  .two_column_section .record_video .video_inside iframe {
    width: 100%;
    height: 420px; }
  .two_column_section .slider_ad {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .two_column_section .slider_ad .ad_slider {
    height: 341px; }
  .two_column_section .display_space {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; } }

.show_event_wrapper {
  background: url("../img/slashline.png");
  background-repeat: repeat-x;
  margin-top: 60px;
  margin-bottom: 40px; }

@media (min-width: 0px) {
  .show_event {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .show_event:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .show_event {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .show_event:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .show_event {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    height: 500px;
    padding-top: 80px; }
  .show_event:after {
    content: " ";
    display: block;
    clear: both; }
  .show_event .show_tab {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #CECECE;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-bottom: 20px; }
  .show_event .show_tab .show_filter_tab {
    margin-right: 40px;
    font-size: 18px;
    cursor: pointer; }
  .show_event .show_content .show_list-about {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .show_event .show_content .show_list-about .show_gogo {
    border-bottom: 1px solid #CECECE;
    margin-bottom: 12px; }
  .show_event .show_content .show_list-about .show_gogo h6 {
    font-size: 20px;
    color: #594460;
    margin-bottom: 2px; }
  .show_event .show_content .show_list-about .show_gogo p {
    font-size: 15px;
    color: #888;
    margin-bottom: 5px; }
  .show_event .show_content .show_list-about .show_more {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #222;
    color: #FFF;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px; }
  .show_event .show_content .show_block {
    width: 73.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .show_event .show_content .show_block .show_detail {
    width: 31.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    margin-bottom: 20px;
    position: relative;
    transition: all .3s;
    overflow: hidden; }
  .show_event .show_content .show_block .show_detail img {
    display: block; }
  .show_event .show_content .show_block .show_detail .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    background: transparent;
    bottom: -100%;
    left: 0;
    transition: all .3s; }
  .show_event .show_content .show_block .show_detail:hover .mask {
    bottom: -50%;
    left: 0;
    background: rgba(0, 0, 0, 0.8); } }

.activity {
  background-color: #23ABBC;
  color: #FFF;
  padding: 2px 25px;
  border-radius: 20px; }

@media (min-width: 0px) {
  .performance_hall {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .performance_hall:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .performance_hall {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .performance_hall:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .performance_hall {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    margin-bottom: 50px; }
  .performance_hall:after {
    content: " ";
    display: block;
    clear: both; }
  .performance_hall .hall_left {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .performance_hall .hall_left .hall-l {
    position: relative;
    width: 100%; }
  .performance_hall .hall_left .hall-l img {
    display: block;
    width: 100%; }
  .performance_hall .hall_left .hall-l .t-des {
    position: absolute;
    top: 0;
    padding: 20px; }
  .performance_hall .hall_left .hall-l .t-des h6 {
    font-size: 20px;
    color: #FFF;
    font-weight: 700; }
  .performance_hall .hall_left .hall-l .t-des p {
    color: #FFF;
    font-size: 14px; }
  .performance_hall .hall_right {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .performance_hall .hall_right .hall-s {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    background-color: #718; }
  .performance_hall .hall_right .hall-s img {
    display: block; }
  .performance_hall .hall_right .hall-s .t-des {
    position: absolute;
    bottom: 0px;
    padding: 20px;
    background: rgba(100, 143, 150, 0.8); }
  .performance_hall .hall_right .hall-s .t-des h6 {
    font-size: 20px;
    color: #FFF;
    font-weight: 700; }
  .performance_hall .hall_right .hall-s .t-des p {
    color: #FFF;
    font-size: 14px; } }

@media (min-width: 0px) {
  .show_schedule {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .show_schedule:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .show_schedule {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .show_schedule:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .show_schedule {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 30px; }
  .show_schedule:after {
    content: " ";
    display: block;
    clear: both; }
  .show_schedule .date_list {
    width: 100%;
    margin-top: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .show_schedule .date_list .date_unit {
    width: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: #eee;
    transition: all .2s; }
  .show_schedule .date_list .date_unit .week {
    width: 50px;
    height: 25px;
    font-size: 11px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #FFF; }
  .show_schedule .date_list .date_unit .date {
    width: 50px;
    height: 30px;
    font-size: 11px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #FFF; }
  .show_schedule .date_list .date_unit:hover {
    transform: scale(1.2); } }

.weeked {
  color: #910 !important; }

.haveshow {
  background: #9EE0EF !important; }

@media (min-width: 0px) {
  .bread_crumbs {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .bread_crumbs:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .bread_crumbs {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .bread_crumbs:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .bread_crumbs {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px;
    font-size: 14px;
    margin-bottom: 40px; }
  .bread_crumbs:after {
    content: " ";
    display: block;
    clear: both; }
  .bread_crumbs a {
    color: #888;
    margin: 0 10px;
    font-size: 14px; }
  .bread_crumbs p {
    color: #222;
    margin: 0 10px;
    font-size: 14px; } }

.show_wrapper {
  background: url(../img/slashline.png);
  background-repeat: repeat-x;
  padding-top: 100px; }

@media (min-width: 0px) {
  .show_filter {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .show_filter:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .show_filter {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .show_filter:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .show_filter {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #CECECE;
    padding-bottom: 20px;
    margin-bottom: 30px; }
  .show_filter:after {
    content: " ";
    display: block;
    clear: both; }
  .show_filter .div_input {
    width: 40%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px; }
  .show_filter .div_input select {
    display: block;
    width: 60%;
    height: 40px;
    margin-left: 10px;
    padding: 10px;
    font-size: 14px;
    color: #999;
    background-color: #fff;
    border: 1px solid #01AECC;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../img/aorrow_down.png) no-repeat right 16px; } }

@media (min-width: 0px) {
  .show_list {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .show_list:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .show_list {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .show_list:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .show_list {
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    margin-bottom: 50px; }
  .show_list:after {
    content: " ";
    display: block;
    clear: both; }
  .show_list .show_list_title {
    font-size: 20px;
    color: #888;
    margin-bottom: 20px; }
  .show_list .show_detail {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start; }
  .show_list .show_detail .show_list_column {
    width: 31.66667%;
    float: left;
    position: relative; }
  .show_list .show_detail .show_list_column .show_item {
    margin-bottom: 45px; }
  .show_list .show_detail .show_list_column .show_item img {
    margin-bottom: 3px; }
  .show_list .show_detail .show_list_column .show_item h6 {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    color: #222; }
  .show_list .show_detail .show_list_column .show_item .date {
    font-size: 20px;
    color: #01AECC;
    font-weight: 500; }
  .show_list .show_detail .show_list_column::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 1px;
    background: #eee;
    z-index: 2000;
    top: 0;
    right: -20px; }
  .show_list .show_detail .show_list_column:nth-last-child(1)::after {
    content: "";
    display: none; }
  .show_list .show_detail .l-show-l {
    width: 42px;
    margin: 0 0px;
    background: #eee; } }

@media (min-width: 0px) {
  .show_detail_page {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .show_detail_page:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .show_detail_page {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .show_detail_page:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .show_detail_page {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    margin-bottom: 50px; }
  .show_detail_page:after {
    content: " ";
    display: block;
    clear: both; }
  .show_detail_page .show_species {
    padding: 0 30px;
    margin-bottom: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .show_detail_page .show_species .species {
    width: 120px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #d28f5a;
    font-size: 14px;
    color: #d28f5a;
    margin-right: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .show_detail_page .show_species .species i {
    margin-right: 5px; }
  .show_detail_page .performance_info {
    width: 31.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    padding: 0 20px;
    margin-bottom: 50px; }
  .show_detail_page .performance_info .t-title {
    font-size: 23px;
    color: #222;
    line-height: 1.3;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0; }
  .show_detail_page .performance_info .performance_ticket {
    border-bottom: 1px solid #e0e0e0;
    padding: 13px 10px;
    margin-bottom: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .show_detail_page .performance_info .performance_ticket .ticket_t {
    width: 60%;
    font-size: 18px;
    color: #222;
    font-weight: 500; }
  .show_detail_page .performance_info .performance_ticket .ticket_species {
    width: 50%; }
  .show_detail_page .performance_info .performance_ticket .ticket_species p {
    font-size: 14px;
    margin-bottom: 7px;
    font-weight: 500;
    color: #888; }
  .show_detail_page .performance_info .performance_summary {
    padding: 13px 10px;
    border-bottom: 1px solid #e0e0e0; }
  .show_detail_page .performance_info .performance_summary p {
    font-size: 14px;
    margin-bottom: 7px;
    font-weight: 500;
    color: #888; }
  .show_detail_page .performance_description {
    width: 65%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    padding: 0 20px;
    margin-bottom: 50px; }
  .show_detail_page .performance_description p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
    font-weight: 300; }
  .show_detail_page .performance_description img {
    width: 100%;
    margin-bottom: 10px; } }

@media (min-width: 0px) {
  .others_show {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .others_show:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .others_show {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .others_show:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .others_show {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px; }
  .others_show:after {
    content: " ";
    display: block;
    clear: both; }
  .others_show .t-title {
    font-size: 20px;
    color: #696969;
    margin-bottom: 10px; }
  .others_show .moreShow_photo {
    margin: 0 20px; }
  .others_show .moreShow_photo img {
    margin-bottom: 5px; }
  .others_show .moreShow_photo h6 {
    font-size: 18px;
    color: #222; }
  .others_show .moreShow_photo p {
    font-size: 14px;
    color: #888; }
  .others_show .slick-prev:before, .others_show .slick-next:before {
    color: #999; } }

@media (min-width: 0px) {
  .bread_crumbs {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .bread_crumbs:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .bread_crumbs {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .bread_crumbs:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .bread_crumbs {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px;
    font-size: 14px;
    margin-bottom: 70px;
    width: 100%; }
  .bread_crumbs:after {
    content: " ";
    display: block;
    clear: both; }
  .bread_crumbs .bread_crumbs_div {
    width: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .bread_crumbs .bread_crumbs_div a {
    color: #888;
    margin: 0 10px;
    font-size: 14px; }
  .bread_crumbs .bread_crumbs_div p {
    color: #222;
    margin: 0 10px;
    font-size: 14px; }
  .bread_crumbs .icons {
    width: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .bread_crumbs .icons .social_media, .bread_crumbs .icons .function, .bread_crumbs .icons .font {
    margin-left: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .bread_crumbs .icons .social_media .i_icon, .bread_crumbs .icons .function .i_icon, .bread_crumbs .icons .font .i_icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    color: #FFF;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer; }
  .bread_crumbs .icons .social_media .i_icon i, .bread_crumbs .icons .function .i_icon i, .bread_crumbs .icons .font .i_icon i {
    font-size: 18px; } }

.fb {
  background: #4E598F; }

.google {
  background: #CF4C3C; }

.line {
  background: #6DBF2D; }

.twitter {
  background: #65A2D9; }

.mail {
  background: #00466E; }

.download {
  background: #32b396; }

.print {
  background: #FE6601; }

.font_zoom {
  background: #F5A623; }

@media (min-width: 0px) {
  .page_w {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .page_w:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .page_w {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .page_w:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .page_w {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; }
  .page_w:after {
    content: " ";
    display: block;
    clear: both; }
  .page_w .page_tab {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    margin-bottom: 50px; }
  .page_w .page_contnet {
    width: 73.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    margin-bottom: 50px; } }

@media (min-width: 0px) {
  .aside_menu {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .aside_menu:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .aside_menu {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .aside_menu:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .aside_menu {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; }
  .aside_menu:after {
    content: " ";
    display: block;
    clear: both; }
  .aside_menu ul li a {
    display: block;
    color: #888;
    padding: 10px 0;
    transition: all .2s; }
  .aside_menu ul li a i {
    margin-right: 5px; }
  .aside_menu ul li a:hover {
    color: #222; } }

@media (min-width: 0px) {
  .notice_list {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .notice_list:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .notice_list {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .notice_list:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .notice_list {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
  .notice_list:after {
    content: " ";
    display: block;
    clear: both; }
  .notice_list .list_l {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid #eee;
    transition: all .2s; }
  .notice_list .list_l .a-date {
    margin-right: 40px;
    font-size: 16px;
    color: #222;
    transition: all .2s; }
  .notice_list .list_l .a-des {
    font-size: 16px;
    color: #888;
    transition: all .2s; }
  .notice_list .list_l:hover .a-des {
    color: #555; } }

@media (min-width: 0px) {
  .press_detail {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .press_detail:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .press_detail {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .press_detail:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .press_detail {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; }
  .press_detail:after {
    content: " ";
    display: block;
    clear: both; }
  .press_detail .goback {
    font-size: 14px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    padding-bottom: 10px; }
  .press_detail .t-title {
    margin-bottom: 50px;
    font-size: 30px;
    color: #165779;
    margin-bottom: 10px; }
  .press_detail .t_date {
    margin-bottom: 40px; }
  .press_detail .t_date p {
    font-size: 13px;
    color: #888; }
  .press_detail .press_content {
    margin-bottom: 40px; }
  .press_detail .press_content .frame {
    border: 1px solid #01AECC;
    padding: 5px 10px;
    color: #01AECC;
    width: 100px;
    text-align: center; }
  .press_detail .press_content .text-content {
    margin-bottom: 30px; }
  .press_detail .press_content h6 {
    font-size: 18px;
    color: #222;
    margin-top: 20px;
    margin-bottom: 5px; }
  .press_detail .press_content p {
    font-size: 14px;
    margin-bottom: 5px; }
  .press_detail .press_content .photos {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .press_detail .press_content .photos img {
    margin-right: 20px;
    border: 1px solid #eee;
    margin-bottom: 30px; }
  .press_detail .related_link, .press_detail .file_download {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #888;
    font-size: 14px;
    border: 1px solid #eee; } }

@media (min-width: 0px) {
  .tender_detail {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .tender_detail:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .tender_detail {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .tender_detail:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .tender_detail {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; }
  .tender_detail:after {
    content: " ";
    display: block;
    clear: both; }
  .tender_detail .goback {
    font-size: 14px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px; }
  .tender_detail .t-title {
    margin-bottom: 50px;
    font-size: 26px;
    color: #165779;
    margin-bottom: 10px; }
  .tender_detail .t_date {
    margin-bottom: 20px; }
  .tender_detail .t_date p {
    font-size: 12px;
    color: #888; }
  .tender_detail .tender_content {
    margin-bottom: 40px; }
  .tender_detail .tender_content .photos {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .tender_detail .tender_content .photos img {
    width: 200px;
    margin-right: 20px;
    border: 1px solid #eee;
    margin-bottom: 30px; }
  .tender_detail .tender_content p {
    font-size: 14px;
    margin-bottom: 5px; }
  .tender_detail .related_link, .tender_detail .file_download {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #888;
    font-size: 14px;
    border: 1px solid #eee; } }

@media (min-width: 0px) {
  .news_list {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .news_list:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .news_list {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .news_list:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .news_list {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
  .news_list:after {
    content: " ";
    display: block;
    clear: both; }
  .news_list .n-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid #eee;
    transition: all .2s; }
  .news_list .n-list .n-des {
    width: 50%;
    font-size: 16px;
    color: #888;
    margin-right: 20px;
    transition: all .2s; }
  .news_list .n-list .n-location {
    width: 25%;
    margin-right: 40px;
    font-size: 16px;
    color: #888;
    transition: all .2s; }
  .news_list .n-list .n-period {
    width: 25%; }
  .news_list .n-list .n-period p {
    font-size: 12px;
    color: #888; }
  .news_list .n-list:hover .n-des, .news_list .n-list:hover .n-location, .news_list .n-list:hover .n-period {
    color: #222; } }

@media (min-width: 0px) {
  .news_detail {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .news_detail:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .news_detail {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .news_detail:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .news_detail {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; }
  .news_detail:after {
    content: " ";
    display: block;
    clear: both; }
  .news_detail .goback {
    font-size: 14px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px; }
  .news_detail .t-title {
    margin-bottom: 50px;
    font-size: 26px;
    color: #165779;
    margin-bottom: 10px; }
  .news_detail .t_date {
    margin-bottom: 40px;
    border-left: 8px solid #eee;
    padding: 0 10px; }
  .news_detail .t_date p {
    font-size: 12px;
    color: #555;
    line-height: 1.6; }
  .news_detail .news_content {
    margin-bottom: 40px; }
  .news_detail .news_content p {
    font-size: 14px;
    margin-bottom: 5px; }
  .news_detail .related_link, .news_detail .file_download {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #888;
    font-size: 14px;
    border: 1px solid #eee; } }

@media (min-width: 0px) {
  .contact_us {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .contact_us:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .contact_us {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .contact_us:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .contact_us {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; }
  .contact_us:after {
    content: " ";
    display: block;
    clear: both; }
  .contact_us .goback {
    font-size: 14px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px; }
  .contact_us .t-title {
    margin-bottom: 50px;
    font-size: 26px;
    color: #165779;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #ededed; }
  .contact_us .input_div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px; }
  .contact_us .input_div .verification {
    margin-right: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .contact_us .input_div .verification input[type="text"] {
    width: 150px;
    height: 40px;
    margin-right: 10px;
    padding: 0 10px; }
  .contact_us .input_div .verification img {
    display: block;
    margin-right: 10px; }
  .contact_us .input_div .verification a {
    display: block;
    height: 40px;
    font-size: 25px;
    color: #888; }
  .contact_us .input_div .gender {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 35px; }
  .contact_us .input_div .gender input[type="radio"] {
    margin-right: 5px; }
  .contact_us .input_div p {
    margin-right: 10px;
    width: 100px;
    font-size: 14px; }
  .contact_us .input_div input[type="text"] {
    width: 70%;
    border: 1px solid #c0c0c0;
    height: 40px;
    padding: 0 10px; }
  .contact_us .input_div textarea {
    width: 70%;
    border: 1px solid #c0c0c0;
    height: 250px;
    padding: 10px; }
  .contact_us .confirm_btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 40px; }
  .contact_us .confirm_btn .cancel {
    display: block;
    margin: 0 20px;
    width: 150px;
    height: 40px;
    font-weight: 600;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFF;
    background: #01AECC; }
  .contact_us .confirm_btn .submit {
    display: block;
    margin: 0 20px;
    width: 150px;
    height: 40px;
    font-weight: 600;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFF;
    background: #01AECC; } }

@media (min-width: 0px) {
  .search_list {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .search_list:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .search_list {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .search_list:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .search_list {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    margin-bottom: 50px; }
  .search_list:after {
    content: " ";
    display: block;
    clear: both; }
  .search_list .s-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid #eee;
    transition: all .2s; }
  .search_list .s-list .s-classify {
    width: 15%;
    margin-right: 40px;
    font-size: 16px;
    color: #017285;
    transition: all .2s; }
  .search_list .s-list .s-des {
    width: 60%;
    font-size: 16px;
    color: #888;
    margin-right: 20px;
    transition: all .2s; }
  .search_list .s-list .s-period {
    width: 25%; }
  .search_list .s-list .s-period p {
    font-size: 14px;
    color: #888; }
  .search_list .s-list:hover .s-des, .search_list .s-list:hover .s-classfy, .search_list .s-list:hover .s-period {
    color: #222; } }

.onpage {
  display: block;
  color: #14AFCD;
  padding: 10px 0; }

@media (min-width: 0px) {
  .pages {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 40px; }
  .pages:after {
    content: " ";
    display: block;
    clear: both; }
  .pages a {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #eee;
    font-size: 14px;
    margin: 0 5px;
    color: #888;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    transition: all .3s; }
  .pages a:hover {
    border: 1px solid #eee;
    background: #017285;
    color: #FFF; } }

@media (min-width: 767px) {
  .pages {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 40px; }
  .pages:after {
    content: " ";
    display: block;
    clear: both; }
  .pages a {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #eee;
    font-size: 14px;
    margin: 0 5px;
    color: #888;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    transition: all .3s; }
  .pages a:hover {
    border: 1px solid #eee;
    background: #017285;
    color: #FFF; } }

@media (min-width: 979px) {
  .pages {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 60px;
    margin-top: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .pages:after {
    content: " ";
    display: block;
    clear: both; }
  .pages a {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #eee;
    font-size: 14px;
    margin: 0 5px;
    color: #888;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    transition: all .3s; }
  .pages a:hover {
    border: 1px solid #eee;
    background: #017285;
    color: #FFF; } }

.mainblue {
  color: #FFF !important;
  background: #017285; }

.lil {
  width: 100%;
  height: 1px;
  background: #eee;
  clear: both;
  margin-bottom: 20px;
  margin-top: 20px; }

body {
  font-family: Microsoft JhengHei;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  line-height: 1.5;
  font-weight: 400; }

p, h6, h5, h4, h3, h2 {
  line-height: 1.5;
  font: 14px;
  color: #696969; }

a {
  color: #01AECC; }

.clear {
  clear: both; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.top_header {
  background: #017285;
  height: 40px; }

@media (min-width: 0px) {
  .top_header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .top_header:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .top_header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .top_header:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .top_header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .top_header:after {
    content: " ";
    display: block;
    clear: both; }
  .top_header .top_header_menu .lil {
    height: 14px;
    width: 1px;
    background-color: #FFF;
    margin: 0 10px; }
  .top_header .top_header_menu .magnifier {
    width: 40px;
    height: 40px;
    background-color: #222;
    margin-left: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
    transition: all .2s; }
  .top_header .top_header_menu .magnifier input[type="text"] {
    display: none;
    width: 0px;
    height: 30px;
    margin-right: 10px;
    background: #222;
    border: none;
    border-bottom: 1px solid #444;
    outline: none;
    padding: 0 20px;
    color: #FFF; }
  .top_header .top_header_menu .magnifier .filter_radio {
    display: none;
    color: #FFF;
    font-size: 13px;
    margin-right: 15px; }
  .top_header .top_header_menu .magnifier .filter_radio input[type="checkbox"] {
    margin-right: 5px; }
  .top_header .top_header_menu .magnifier .search_btn {
    width: 40px;
    height: 40px;
    background-color: #185762;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    transition: all .2s; }
  .top_header .top_header_menu .magnifier .search_btn i {
    color: #FFF; }
  .top_header .top_header_menu ul {
    height: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .top_header .top_header_menu ul li a {
    display: block;
    color: #FFF;
    font-size: 13px; } }

.w_flexible {
  width: 540px !important; }

.w_flexible input[type="text"] {
  display: block !important;
  width: 220px !important; }

.w_flexible .filter_radio {
  display: block !important; }

.slick-dots {
  bottom: 15px !important; }

@media (min-width: 0px) {
  .main_image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .main_image:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .main_image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .main_image:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .main_image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    position: relative; }
  .main_image:after {
    content: " ";
    display: block;
    clear: both; }
  .main_image .main_slider .new_photo {
    width: 100%; }
  .main_image .main_slider .new_photo img {
    width: 100%; }
  .main_image .logo {
    position: absolute;
    width: 250px;
    left: 70px;
    top: 20px;
    z-index: 1100; }
  .main_image .deskmenu {
    position: absolute;
    width: 900px;
    height: 50px;
    z-index: 1000;
    right: 40px;
    top: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .main_image .deskmenu ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .main_image .deskmenu ul li {
    position: relative; }
  .main_image .deskmenu ul li a {
    display: block;
    height: 50px;
    color: #005968;
    padding: 0 25px;
    font-size: 18px;
    font-weight: 500;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .main_image .deskmenu ul li a:hover {
    color: #222; }
  .main_image .deskmenu ul li ul {
    position: absolute;
    display: block;
    width: 140px;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    top: 45px;
    left: 0px;
    transition: all .3s; }
  .main_image .deskmenu ul li ul a {
    display: block;
    height: auto;
    width: 140px;
    color: #c0c0c0;
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #666;
    line-height: 1.5;
    font-size: 13px;
    padding: 10px 0;
    text-align: center;
    transition: all .3s; }
  .main_image .deskmenu ul li ul a:hover {
    color: #FFF; }
  .main_image .deskmenu ul li:hover ul {
    visibility: visible;
    opacity: 1; } }

@media (min-width: 0px) {
  .main_image_insidepage {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .main_image_insidepage:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .main_image_insidepage {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .main_image_insidepage:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  .main_image_insidepage {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    position: relative; }
  .main_image_insidepage:after {
    content: " ";
    display: block;
    clear: both; }
  .main_image_insidepage .main_slider {
    height: 300px;
    background: url(../img/hero-image_a2.jpg) bottom;
    background-size: cover; }
  .main_image_insidepage .main_slider .new_photo {
    width: 100%; }
  .main_image_insidepage .main_slider .new_photo img {
    width: 100%; }
  .main_image_insidepage .logo {
    position: absolute;
    width: 250px;
    left: 70px;
    top: 20px;
    z-index: 1100; }
  .main_image_insidepage .deskmenu {
    position: absolute;
    width: 900px;
    height: 50px;
    z-index: 1000;
    right: 40px;
    top: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .main_image_insidepage .deskmenu ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .main_image_insidepage .deskmenu ul li {
    position: relative; }
  .main_image_insidepage .deskmenu ul li a {
    display: block;
    height: 50px;
    color: #FFF;
    padding: 0 25px;
    font-size: 18px;
    font-weight: 500;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .main_image_insidepage .deskmenu ul li a:hover {
    color: #eee; }
  .main_image_insidepage .deskmenu ul li ul {
    position: absolute;
    display: block;
    width: 140px;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    top: 45px;
    left: 0px;
    transition: all .3s; }
  .main_image_insidepage .deskmenu ul li ul a {
    display: block;
    height: auto;
    width: 140px;
    color: #c0c0c0;
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #666;
    line-height: 1.5;
    font-size: 13px;
    padding: 10px 0;
    text-align: center;
    transition: all .3s; }
  .main_image_insidepage .deskmenu ul li ul a:hover {
    color: #FFF; }
  .main_image_insidepage .deskmenu ul li:hover ul {
    visibility: visible;
    opacity: 1; } }

.footer_wrapper {
  width: 100%;
  background: url("../img/footer_bg.jpg");
  height: 500px;
  background-size: cover;
  padding: 50px 0; }

@media (min-width: 0px) {
  footer {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  footer:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  footer {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  footer:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 979px) {
  footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px; }
  footer:after {
    content: " ";
    display: block;
    clear: both; }
  footer .links_right .links_s {
    width: 12.5%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    margin-bottom: 20px; }
  footer .links_right .links_s h6 {
    color: #FFF;
    margin-bottom: 20px; }
  footer .links_right .links_s a {
    display: block;
    color: #eee;
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 10px; }
  footer .links_right .links_us {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  footer .links_right .links_us h6 {
    color: #00a3e4;
    margin-bottom: 20px; }
  footer .links_right .links_us p {
    color: #FFF;
    font-size: 12px; }
  footer .links_right .links_us a {
    display: block;
    color: #FFF;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 10px; }
  footer .links_right .copyright {
    width: 73.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  footer .links_right .copyright .gov {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  footer .links_right .copyright .gov img {
    margin-top: 20px;
    margin-right: 20px; }
  footer .links_right .copyright p {
    color: #FFF;
    font-size: 12px; }
  footer .links_right .culture_dep {
    width: 23.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    height: 150px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: end;
    align-items: flex-end; }
  footer .links_right .culture_dep .lan {
    display: block;
    width: 60%;
    border: 1px solid #aebfbf;
    margin-bottom: 20px; }
  footer .links_right .culture_dep .lan select {
    display: block;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    font-size: 13px;
    color: #FFF;
    background: transparent;
    border-radius: 0;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none; } }
