


<div class="icons">
	<div class="social_media">
		<div class="i_icon fb"><i class="fa fa-facebook" aria-hidden="true"></i></div>
		<div class="i_icon google"><i class="fa fa-google-plus" aria-hidden="true"></i></i></div>
		<div class="i_icon line"><img src="img/line_grey.svg" alt=""></div>
		<div class="i_icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i></div>
	</div>
	<div class="function">
		{# <div class="i_icon download"><i class="fa fa-download" aria-hidden="true"></i></div> #}
		<div class="i_icon mail"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
		<div class="i_icon print"><i class="fa fa-print" aria-hidden="true"></i></div>
	</div>
	<div class="font">
		<div class="i_icon font_zoom"><i class="fa fa-font" aria-hidden="true"></i> +</div>
		<div class="i_icon font_zoom"><i class="fa fa-font" aria-hidden="true"></i> -</div>
	</div>
</div>