
<div class="main_image_insidepage">
	<div class="inside_menu">
		<div class="logo">
			<a href=""><img src="img/logo-w.png" alt=""></a>
		</div>
		<div class="deskmenu">
			<ul>
				<li>
					<a href="">參觀服務</a>
					<ul class="dropdown ">
						<li><a href="">開放時間</a></li>
						<li><a href="">交通與停車</a></li>
						<li><a href="">票價資訊</a></li>
						<li><a href="">全區地圖</a></li>
					</ul>
				</li>
				<li>
					<a href="">關於北流</a>
					<ul class="dropdown ">
						<li><a href="">北流簡介</a></li>
						<li><a href="">表演廳</a></li>
						<li><a href="">流行音樂文化館</a></li>
						<li><a href="">產業區</a></li>
						<li><a href="">戶外展演區</a></li>
						<li><a href="">北流大事紀</a></li>
					</ul>
				</li>
				<li>
					<a href="">展演活動</a>
					<ul class="dropdown ">
						<li><a href="">常設展</a></li>
						<li><a href="">特展</a></li>
						<li><a href="">演唱會</a></li>
						<li><a href="">活動及講座</a></li>
						<li><a href="">展演活動紀錄</a></li>
					</ul>
				</li>
				<li>
					<a href="">最新消息</a>
					<ul class="dropdown ">
						<li><a href="">最新消息</a></li>

					</ul>
				</li>
				<li>
					<a href="">相關資源</a>
					<ul class="dropdown ">
						<li><a href="">流行音樂資料庫暨資深音樂人口述歷史</a></li>
						<li><a href="">Live House音樂展演空間共享平台</a></li>
						<li><a href="">研究調查報告</a></li>
						<li><a href="">出版品</a></li>

					</ul>
				</li>

			</ul>
		</div>
</div>

	<!-- hamburg -->
	<div class="hamburg">
		<span class="aaa"></span>
		<span class="bbb"></span>
		<span class="ccc"></span>
	</div>
	<div class="aside">
		<div class="aside_search">
			<div class="search_area">
				<input type="text">
				<div class="search_btn">
					<i class="fa fa-search" aria-hidden="true"></i>
				</div>
			</div>
			<div class="aside_filter">
				<div class="filter_radio"><input type="checkbox">展演活動</div>
				<div class="filter_radio"><input type="checkbox">最新消息</div>
				<div class="filter_radio"><input type="checkbox">公告資訊</div>
			</div>

		</div>


		<ul>
			<li>
				<a href="#" class="m-first">參觀服務
					<div class="go_submenu show-1">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</div>
				</a>
				<div class="m-second_bg active-1">
					<div class="goback second-goback"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>參觀服務</div>
					<ul class="ul-second">
						<li><a href="" class="m-second">開放時間</a></li>
						<li><a href="" class="m-second">交通與停車</a></li>
						<li><a href="" class="m-second">票價資訊</a></li>
						<li><a href="" class="m-second">全區地圖</a></li>
					</ul>
				</div>
			</li>

			<li>
				<a href="#"  class="m-first">關於北流
					<div class="go_submenu show-2">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</div>
				</a>
				<div class="m-second_bg active-2">
					<div class="goback second-goback"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>關於北流 </div>
					<ul class="ul-second">
						<li><a href="" class="m-second">北流簡介</a></li>
						<li><a href="" class="m-second">表演廳</a></li>
						<li><a href="" class="m-second">流行音樂文化館</a></li>
						<li><a href="" class="m-second">產業區</a></li>
						<li><a href="" class="m-second">戶外展演區</a></li>
						<li><a href="" class="m-second">北流大事紀</a></li>

					</ul>
				</div>
			</li>

			<li>
				<a href="#"  class="m-first">展演活動
					<div class="go_submenu show-3">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</div>
				</a>
				<div class="m-second_bg active-3">
					<div class="goback second-goback"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>展演活動</div>
					<ul class="ul-second">
						<li><a href="" class="m-second">常設展</a></li>
						<li><a href="" class="m-second">特展</a></li>
						<li><a href="" class="m-second">演唱會</a></li>
						<li><a href="" class="m-second">活動及講座</a></li>
						<li><a href="" class="m-second">展演活動紀錄</a></li>
				</div>
			</li>

			<li>
				<a href="#"  class="m-first">最新消息
					<div class="go_submenu show-4">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</div>
				</a>
				<div class="m-second_bg active-4">
					<div class="goback second-goback"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>分類瀏覽 </div>
					<ul class="ul-second">
						<li><a href="" class="m-second">最新消息</a></li>
					</ul>
				</div>
			</li>

			<li>
				<a href="#"  class="m-first">相關資源
					<div class="go_submenu show-5">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</div>
				</a>
				<div class="m-second_bg active-5">
					<div class="goback second-goback"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>相關資源</div>
					<ul class="ul-second">
						<li><a href="" class="m-second">流行音樂資料庫暨資深音樂人口述歷史</a></li>
						<li><a href="" class="m-second">Live House音樂展演空間共享平台</a></li>
						<li><a href="" class="m-second">研究調查報告</a></li>
						<li><a href="" class="m-second">出版品</a></li>
					</ul>
				</div>
			</li>

			<li>
				<a href="#"  class="m-first">導覽列
					<div class="go_submenu show-3">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</div>
				</a>
				<div class="m-second_bg active-3">
					<div class="goback second-goback"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>展演活動</div>
					<ul class="ul-second">
						<li><a href="#" class="m-second">網站導覽</a></li>
						<li><a href="#" class="m-second">常見問答</a></li>
						<li><a href="#" class="m-second">公告資訊</a></li>
						<li><a href="#" class="m-second">RSS訂閱</a></li>
						<li><a href="#" class="m-second">聯絡我們</a></li>
						<li><a href="#" class="m-second">English</a></li>
						<li><a href="#" class="m-second">本站使用正體字</a></li>

				</div>
			</li>

		</ul>
	</div>

	<div class="inside_slider"></div>
</div>
