
<div class="main_image_insidepage">
	<div class="logo">
		<a href=""><img src="img/logo-w.png" alt=""></a>
	</div>
	<div class="deskmenu">
		<ul>
			<li>
				<a href="">參觀服務</a>
				<ul class="dropdown ">
					<li><a href="">開放時間</a></li>
					<li><a href="">交通與停車</a></li>
					<li><a href="">票價資訊</a></li>
					<li><a href="">全區地圖</a></li>
				</ul>
			</li>
			<li>
				<a href="">關於北流</a>
				<ul class="dropdown ">
					<li><a href="">北流簡介</a></li>
					<li><a href="">表演廳</a></li>
					<li><a href="">流行音樂文化館</a></li>
					<li><a href="">產業區</a></li>
					<li><a href="">戶外展演區</a></li>
					<li><a href="">北流大事紀</a></li>
				</ul>
			</li>
			<li>
				<a href="">展演活動</a>
				<ul class="dropdown ">
					<li><a href="">常設展</a></li>
					<li><a href="">特展</a></li>
					<li><a href="">演唱會</a></li>
					<li><a href="">活動及講座</a></li>
					<li><a href="">展演活動紀錄</a></li>
				</ul>
			</li>
			<li>
				<a href="">最新消息</a>
				<ul class="dropdown ">
					<li><a href="">最新消息</a></li>

				</ul>
			</li>
			<li>
				<a href="">相關資源</a>
				<ul class="dropdown ">
					<li><a href="">流行音樂資料庫暨資深音樂人口述歷史</a></li>
					<li><a href="">Live House音樂展演空間共享平台</a></li>
					<li><a href="">研究調查報告</a></li>
					<li><a href="">出版品</a></li>

				</ul>
			</li>

		</ul>

	</div>
	<div class="main_slider"></div>
</div>
